.ui-g,
.ui-g-12 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


.logo {
    width: 125px;
    background-color: #2D353C;
    text-align: center;
}

.dark {
    background-color: #2D353C;
    color: white;
}

.light {
    color: black;
    background-color: white;
    ;
}

.bar {
    display: inline-block;
    padding-top: 8px;
    width: 124px;
}

.padtop {
    margin: 7px 0 0 0;
}

.big {
    width: 9.55%;
    font-size: inherit;
}

.small {
    width: 8.5%;
    font-size: inherit;
}

.lesswidth {
    width: 13%;
}

#sub {
    display: inline-block;
    height: 30px;
    padding-top: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    background-color: #009393;
}

#bar {
    display: inline-block;
    width: auto;
    ;
}

#count {}

#user {}

#test {
    margin-left: 3%;
}

#class {
    display: inline-block;

    height: 30px;
    padding-top: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    background-color: #2BBF61
}

#timer {
    display: inline-block;

    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
    border-radius: 5px;
    text-align: center;
    background-color: #EEA236;
    width: 100px;
}

.qnumber {
    color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumber:hover {
    color: black;
    background-color: lightgray;
    border-color: lightgrey;
    cursor: pointer;
}

.qnumberclick {
    background-color: white;
    color: #2D353C;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumbermark {
    background-color: #EEA236;
    border: 2px solid #EEA236;
}

.qnumbercorrect {
    background-color: #2BBF61;
    border: 2px solid #2BBF61;
}

.qnumberwrong {
    background-color: #DC4E42;
    border: 2px solid #DC4E42;
}

.correct {
    color: #2BBF61;
}

.incorrect {
    color: #DC4E42;
}

.zeropad {
    padding: 0 0 0 0;
}

.icons i:hover{
    cursor:pointer;
}

.head {
    background-color: #2D353C;
    color: white;
    padding-top: 2px;
    height: 95%;
}

.minwidth {
    width: 9%;
    padding: 2% 0 0 0;
    margin-top: -0.28%;
    height: 100%
}

.foot {
    width: 100%;
    background-color: #2D353C;
    text-align: right;
    height: 6%;
    color: white;
    padding-top: 1%;
    padding-right: 2%
}

.image {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.statement {
    font-size: 20px;
}

.btngrp button {
    width: 200px;
    margin-bottom: 2%;
}



.center {
    padding-left: 5%;
    height: auto;
    width: 1227px;
}

.fullwidth {
    width: 1392px;
}

#longbtn {
    margin-top: 2%;
    width: 123px;
}

.buttonTop {
    display: inline-block;
    width: 43%;
    height: 50%;
    border-radius: 50%;
    padding-top: 0px;
    text-align: center;
    font-size: 186%;
}

#m {
    background-color: #DA5451;
}

#v {
    background-color: #5BB85D;
}

#n {
    background-color: #2196F5;
}

#m,
#v,
#n {
    font-size: 171%;
    margin-bottom: 4px;
    color:white;
}

#a,
#b,
#c,
#d {
    display: inline-block;
    color: white;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
}

#a {
    background-color: #5DB75D;
}

#b {
    background-color: #347AB6;
}

#c {
    background-color: #71C9E1;
}

#d {
    background-color: #EEAE4C;
}

.image img{
    width:20%;
    height:20%;
}

.hintimg img{
    height:20%;
    width: 20%;
}
.hintimg{
    padding-top:10%;
}

.hintimg, .valimg{
    padding-left: 2%;
}


.valimg img{
    height:20%;
    width:20%;
}


.box {
    border: 1px solid black;
    margin-top: 1%;
    margin-left: -4%;
    padding: 1% 1% 1% 1%;
}


@media only screen and (max-width: 420px) and (orientation:portrait) {
    .img {
        width: 2%;
    }
    .test {
        width: 73%;
        margin-left: 21%
    }
    .subject {
        width: 40%;
        margin-left: 4%
    }
    .class {
        width: 24%;
        margin-left: -3%
    }
    .timer {
        width: 31%;
    }
    .bar {
        width: 26%;
        margin-left: 2%;
    }
    .count {
        width: 37%;
        padding-top: 2%;
    }
    .person {
        width: 35%;
        padding-top: 2%;
    }

    .m {
        width: 35%;
    }
    .small {
        width: 28.5%;
    }
    .head {
        height: 100%;
    }

    .minwidth {
        width: 25%;
        padding: 0 0 0 0;
    }

    .center {
        width: 74%;
        padding: 3px 0 0 3px;
    }
    .box {
        padding: 0 0 0 0;
        margin: 0 0 11px 5px;
    }
}


@media only screen and (max-width: 1336px) and (min-width: 421px) {
    .img {
        width: 2%;
    }
    .test {
        width: 25%;
        margin-left: 12%;
    }
    .subject {
        width: 115px;
        margin-left: 4%
    }
    .class {
        width: 24%;
        margin-left: -4%
    }
    .timer {
        width: 14%;
        margin-left: -4%;
    }
    .bar {
        width: 26%;
        margin-left: 2%;
    }
    .count {
        width: 17%;
        padding-top: 1%;
    }
    .person {
        width: 21%;
        padding-top: 1%;
    }

    .m {
        width: 10%;
    }
    .small {
        width: 8.5%;
    }
    .head {
        height: 100%;
    }

    .minwidth {
        width: 25%;
        padding: 0 0 0 0;
    }

    .center {
        width: 74%;
        padding: 3px 0 0 3px;
    }
    .box {
        padding: 0 0 0 0;
        margin: 0 0 11px 5px;
    }
}