<div class="ui-g">
  <div class="ui-g-12" id="header" style="margin-left:7px;">
    <div class="ui-g">
      <div class="ui-g-2">
        <img src="../../../../assets/layout/images/Olympiadbox-logo.png" height="70px" width="70px">
      </div>
      <div class="ui-g-2">
        <h5>Demo test</h5>
      </div>
      <div class="ui-g-2">
        <div class="ui-g">
          <div class="ui-g-2"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></div>
          <div class="ui-g-10">{{hour}}h {{min}}m {{sec}}s<br></div>
        </div>
      </div>
      <div class="ui-g-3">
        <div class="ui-g">
          <div class="ui-g-4">
              <p-progressBar [value]="value"></p-progressBar>
          </div>
          <div class="ui-g-6">
              {{answered}}/{{totalQuestions}} Completed
          </div>
        </div>
      </div>
      <div class="ui-g-3">
        <h5><i class="fa fa-user"></i> Gaurav Pant</h5>
      </div>
    </div>
  </div>
  <div id="navpanel" class="ui-g-12">
    <div  class="ui-g">
      <div class="ui-g-1" id="navbar">
        <div> <!--repeat-->
          <div class="help"><i class="fa fa-bars fa-2x"></i></div>
          <div class="help"><i class="fa fa-question-circle fa-2x"></i></div>
          <div *ngFor="let id of questions" (click)="select(id.id)" [ngClass]="{'q':!id.click, 'qclick':id.click}"><div [ngClass]="{'qnumber':!id.click, 'qnumberclick':id.click, 'qnumberseen':id.seen, 'qnumberdone':id.answered}">{{id.id}}</div></div>        
        </div>
      </div>
      <div class="ui-g-11">
        <div class="ui-g" *ngFor="let item of questions;let i = index">
          <div class="ui-g-12" *ngIf="item.click">
            <div class="question"><h3>{{item.question}}</h3></div><hr>
            <p>Pick one of the choices</p>
            <span *ngFor="let opt of item.options"><p-radioButton name="ques{{i+1}}" value="{{opt}}" [(ngModel)]="answers[i]" label={{opt}} ></p-radioButton><br><br></span>
            
            <div class="ui-g-12">
              <br>
              <button class="ui-button-success" pButton type="button" [disabled]="answers[i]==null||answers[i]==''" (click)="save(i)"label="Save and Next"></button>
              <button class="ui-button-info" pButton type="button" [disabled]="answers[i]==null||answers[i]==''" (click)="clear(i)" label="Clear response"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    