#header , #navbar{
    margin: 0px 0px 0px 0px  ;
    padding: 0px 0px 0px 0px  ;
    background-color: #2D353C;
    color: white;
}


.quesunclick{
    vertical-align: middle;
    padding-left: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.circle {
    border: 2px solid white;
    text-align: center;
    padding-top: 8%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    background: #2D353C
}

.quesunclick:hover{
    background-color: grey;
    cursor:pointer;
}

//when clicked on question number on sidebar
.quesclick{
    background-color: white;
    vertical-align: middle;
    padding-left: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.circleclick{ 
    border: 2px solid #2D353C;
    text-align: center;
    padding-top: 8%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: White;
    background: #2D353C;
}

.quesclick:hover{
    cursor: pointer;
    background-color: darkgrey;
}

//attempted
.quesattempted
    {
    background-color: white;
    vertical-align: middle;
    padding-left: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.circleattempt{
    background-color: #2BBF61;
    border: 2px solid ;
    text-align: center;
    padding-top: 8%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    background: #2D353C;
}



.help{
    text-align: center;
    padding:10% 0 10% 0;
}

.clear{
    color: #1D8ECD;
    cursor: pointer;
}

#questionwindow{
    background-color: white;
}

#navpanel {
    margin:0px;
    padding:0px 0px 0px 7px;
}
