<p-confirmDialog header="Go to dashboard" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton class="ui-button-danger" icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="ui-button-success" icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-dialog header="Intsructions" [(visible)]="help" responsive="true" (onHide)="start()">
    <h2>IMPORTANT INSTRUCTIONS</h2>
</p-dialog>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-2 dark logo">
                <img src="../../../../assets/layout/images/Olympiadbox-logo.png" width="75px" height="75px">
            </div>
            <div class="ui-g-10 head fullwidth">
                <div class="ui-g">
                    <span id="test">Demo Test</span>
                    <span id="sub">{{subject}}</span>
                    <span id="class">VII</span>
                    <span id="timer"><i class="fa fa-clock-o"> </i> {{hour}}h {{min}}m {{sec}}s</span>
                    <div class="bar"><p-progressBar [value]="counter"></p-progressBar></div>
                    <span>{{counter/10}}/{{totalQuestions}} Attempted</span>
                    <span><i class="fa fa-user"></i> Gaurav Pant</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-1 dark minwidth">
                <div class="ui-g-12"></div>
                <div class="ui-g-4"></div>
                <div class="ui-g-4">&nbsp;&nbsp;<i (click)="quit()" class="fa fa-home fa-lg"></i></div>
                <div class="ui-g-4"> &nbsp; <i (click)="help=true" class="fa fa-question-circle fa-lg"></i></div>
                <div class="ui-g-12"></div>
                <div class="ui-g-4" *ngFor="let number of questionsPool|keys;let n = index" (click)="displayQuestion(number.key,n+1)"><div class="qnumber" [ngClass]="{'qnumberclick':clickListener==n+1, 'qnumbermark':questionStatus[n+1]=='Marked', 'qnumbercorrect':questionStatus[n+1]=='Correct', 'qnumberwrong':questionStatus[n+1]=='Wrong'}">{{n+1}}</div></div>
                <div class="ui-g-12 fill"></div>
            </div>
            <div class="ui-g-10 light center fullwidth">
                <div class="ui-g" *ngIf="questionWindow">
                    <div class="ui-g-12"><span class="statement">{{questionNumber}}{{selectedQuestion?.Question}}</span>
                        <div class="image"><img src="../../../../../assets/layout/images/q2.jpg"></div>
                        <hr>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g">
                            <div class="ui-g-6">(A).<p-radioButton name="ques" value="A" [(ngModel)]="answer"></p-radioButton>{{selectedQuestion?.Options.A}}
                                <div class="image"><img src="../../../../../assets/layout/images/q2.jpg"></div>
                            </div>
                            <div class="ui-g-6">(B).<p-radioButton name="ques" value="B" [(ngModel)]="answer"></p-radioButton>{{selectedQuestion?.Options.B}}
                                <div class="image"><img src="../../../../../assets/layout/images/q5.jpg"></div>
                            </div>
                            <div class="ui-g-6">(C).<p-radioButton name="ques" value="C" [(ngModel)]="answer"></p-radioButton>{{selectedQuestion?.Options.C}}
                                <div class="image"><img src="../../../../../assets/layout/images/q4.jpg"></div>
                            </div>
                            <div class="ui-g-6">(D).<p-radioButton name="ques" value="D" [(ngModel)]="answer"></p-radioButton>{{selectedQuestion?.Options.D}}
                                <div class="image"><img src="../../../../../assets/layout/images/q5.jpg"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-g-12">
                        <div class="ui-g">
                            <div class="ui-g-12 btngrp">
                                <button type="button" pButton label="Previous" class="ui-button-success" (click)="previous()"></button>
                                <button type="button" [disabled]="validated()" pButton label="Mark for review" class="ui-button-warning" (click)="mark()"></button>
                                <button type="button" pButton label="Validate" [disabled]="answer==null||validated()" (click)="validate()"></button>
                                <button type="button" pButton label="Next" class="ui-button-success" (click)="next()"></button>
                            </div>
                            <div class="ui-g-12" *ngIf="hintDisplay"><hr>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <div>
                                        <span class="incorrect" *ngIf="!correct"><i class="fa fa-times"></i> Your answer is incorrect<br><br></span>
                                        <span class="correct" *ngIf="correct"><i class="fa fa-check"></i> Your answer is correct<br><br></span>
                                        <br *ngIf="correct"><br *ngIf="correct">
                                        <span class="correct" *ngIf="!correct">Correct Answer: {{selectedQuestion?.CorrectAnswer}}<br><br></span>
                                    </div>
                                    <img src="../../../../../assets/layout/images/q2.jpg">
                                </div>
                                <div class="ui-g-6">
                                    <i class="fa fa-lightbulb-o fa-lg"></i> &nbsp; Hint:<br><br><span>{{selectedQuestion?.Explaination}}<br><br></span>
                                    <img src="../../../../../assets/layout/images/q2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>