<!-- <p-blockUI [blocked]="unVerified"></p-blockUI> -->

<p-dialog header="Change Profile Picture" [responsive]="true" [(visible)]="changeImg">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-fileUpload invalidFileTypeMessageSummary="{0}: Invalid file type," [showCancelButton]="false" name="userfile" url="{{imgUploadUrl}}" accept="image/*" (onError)="messageDisplay('error','Error','Could Not Update')" previewWidth="200" (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)" maxFileSize="3000000">
            </p-fileUpload>
        </div>
    </div>
</p-dialog>
<!-- <p-dialog [responsive]="true" [(visible)]="unVerified" [closeOnEscape]="false" [width]="400" [closable]="false">
    <p-header>
        Verification<span class="to-right" (click)="logout()" ><a href=""><i pTooltip="Logout" class="fa fa-sign-out fa-lg"></i></a></span>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12" *ngIf="!userObject?.email_verified">
            <p>Enter Otp Sent On <strong>{{email}}</strong></p>
            <span class="pad-right"><p-inputMask mask="999-999" slotChar=" " [disabled]="emailVerified" placeholder="Enter Otp" [(ngModel)]="userObject.email_otp" unmask="true"></p-inputMask></span>
            <button *ngIf="modeStr!='verifyemail'&&!spinner3" class="ui ui-button-info" (click)="verify('email')" pButton [disabled]="userObject.email_otp==null||userObject.email_otp==''||spinner||spinner2||spinner3||spinner4||emailVerified" label="Verify"></button>
            <button *ngIf="modeStr=='verifyemail'&&spinner3" style="width:55px" class="ui ui-button-info" icon="fa fa-circle-o-notch fa-spin fa-forward" pButton></button>

            <button [disabled]="spinner||spinner2||spinner3||spinner4||emailVerified" *ngIf="modeStr!='email'&&!spinner" class="ui ui-button-success" pButton label="Resend" (click)="setWrapper('email')"></button>
            <button *ngIf="spinner&&modeStr=='email'" style="width:68px" class="ui ui-button-success" pButton icon="fa fa-circle-o-notch fa-spin fa-forward"></button>
            <p *ngIf="emailVerified" class="success">Email Verified Successfully</p>
        </div>
        <div class="ui-g-12" *ngIf="!userObject?.mobile_verified">
            <p>Enter Otp Sent On <strong>{{personalInfo.userInfo.mobile}}</strong></p>
            <span class="pad-right"><p-inputMask mask="999-999" slotChar=" " [disabled]="mobileVerified" placeholder="Enter Otp" [(ngModel)]="userObject.mobile_otp" unmask="true"></p-inputMask></span>
            <button *ngIf="modeStr!='verifymobile'&&!spinner4" class="ui ui-button-info" (click)="verify('mobile')" pButton [disabled]="userObject.mobile_otp==null||userObject.email_otp==''||spinner||spinner2||spinner3||spinner4||mobileVerified" label="Verify"></button>
            <button *ngIf="modeStr=='verifymobile'&&spinner4" style="width:55px" class="ui ui-button-info" icon="fa fa-circle-o-notch fa-spin fa-forward" pButton></button>

            <button [disabled]="spinner||spinner2||spinner3||spinner4||mobileVerified" *ngIf="modeStr!='mobile'&&!spinner2" class="ui ui-button-success" pButton label="Resend" (click)="setWrapper('mobile')"></button>
            <button *ngIf="spinner2&&modeStr=='mobile'" style="width:68px" class="ui ui-button-success" pButton icon="fa fa-circle-o-notch fa-spin fa-forward"></button>
            <p *ngIf="mobileVerified" class="success">Mobile Verified Successfully</p>
        </div>
    </div>
</p-dialog> -->
<div #layoutWrapper class="layout-wrapper" [ngClass]="{'menu-layout-static': !isOverlay(),
        'menu-layout-overlay': isOverlay(),
        'layout-menu-overlay-active': overlayMenuActive,
        'menu-layout-horizontal': isHorizontal(),
        'layout-menu-static-inactive': staticMenuDesktopInactive,
        'layout-menu-static-active': staticMenuMobileActive}">
    <app-topbar></app-topbar>
    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <div #layoutMenuScroller class="nano">
            <div class="nano-content menu-scroll-content">
                <div class="ui-g">
                    <div class="ui-g-12 ui-g-nopad" id="menu-block">
                        <img class="img-responsive profile-img" *ngIf="personalInfo.userInfo['image_path']==null&&personalInfo.userInfo['gender']=='Male'" src="../../../assets/layout/images/male_default.png">
                        <img class="img-responsive profile-img" *ngIf="personalInfo.userInfo['image_path']==null&&personalInfo.userInfo['gender']=='Female'" src="../../../assets/layout/images/female_default.png">

                        <img class="img-responsive profile-img" *ngIf="personalInfo.userInfo['image_path']!=null" src="{{imgPath}}{{personalInfo.userInfo['image_path']}}?{{imgTimeStamp}}">
                        <!-- <img class="img-responsive" src="../../../assets/layout/images/21.jpg"> -->
                        <!-- <img class="img-responsive profile-img" src="../../../assets/layout/images/favicon.png"> -->
                    </div>
                </div>
                <div style="padding-left:20px;color:white">
                    <div class="wrapper">
                        <h5>{{personalInfo.userInfo.firstname}} {{personalInfo.userInfo.lastname}}</h5>
                        <h5>Class {{personalInfo.classInfo.abbreviation}}</h5>
                        <h5 class="text-overflow" pTooltip="{{personalInfo.userInfo.email}}" tooltipPosition="bottom">{{personalInfo.userInfo.email}}</h5>
                        <i  class="fa fa-square  hover" style="color:#2D353C" (click)="changeImg=true"></i>

                        <i  class="fa fa-pencil-square hover" (click)="changeImg=true"></i>
                    </div>
                </div>
                <hr id="hr">
                <app-menu [reset]="resetMenu"></app-menu>
                <div class="layout-menu-footer"></div>
            </div>
        </div>
    </div>
    <div class="layout-main">
        <div class="layout-main-content">
            <div class="main-content-view">
            <p-growl [(value)]="growlMsg"></p-growl>
                <router-outlet></router-outlet>
            </div>
            <div class="fill"></div>
            <app-footer></app-footer>
        </div>
    </div>
    <div class="layout-mask"></div>
</div>