
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#intro {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 13px;
    padding-right: 13px;
    
}

#demotest {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

.leftpad {
    padding-left: 5%;
}

.chapter {
    font-size: 17px;
}

.ul ul{
    list-style-type: none;
    padding-left: 25px;
}

li i{
    color: #5CB85C;
    margin-right: 10px;
}