<div class="ui-g">
  <div class="ui-g-12">
  <p-panel header="Edit Profile">
    <div class="ui-g">
      <div class="ui-g-4"></div>
      <div class="ui-g-4">
        <h2>Personal Info</h2>
        <span style="margin-right:30px">NAME:</span> <input type="text" pInputText /><br><br>
        <span style="margin-right:40px">DOB:</span> <p-calendar></p-calendar><br><br>
        <span style="margin-right:30px">CLASS:</span> <input type="text" pInputText /><br><br>
        <span style="margin-right:17px">SCHOOL:</span> <input type="text" pInputText /><br><br> <hr>       
      </div>
    </div>

  </p-panel>
</div>
</div>