#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#inlinebutton{
    border:transparent;
    background-color: #1D8ECD;
    text-align: center;
    float: right;
}

#testdetailspanel {
    text-align: center
}

#subscribepanel {
    text-align: center;
}

.container{
    padding-left: 5%;
    padding-top: 2%;
}

.testnumber{
    padding-left: 5%;
}

.testnumber button{
    margin-bottom: 2%;
}

.chapter{
    font-size: 17px;
}

.leftpad{
    padding-left: 5%;
    margin-right: 4%;
}

.low button{
    width:70px;
    margin-right: 5%;
}

i:hover{
    cursor: pointer;
}