 <div class="fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Subscribe">
        <div id="subscribepanel">
          <h1>No Test Available</h1><br>
          <button pButton (click)="redirect()" type="text" class="ui-button-info" label="Subscribe Now"></button>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
      <p-panel header="Introduction">
        <div id="intro">
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
            <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
      <p-panel header="Progress">
        <p-chart type="doughnut" [data]="chapterwiseTestData"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
        <p-panel><p-header>Chapterwise Test & Syllabus<button id="inlinebutton" pButton type="text" class="ui-button-success" label="Generate"></button></p-header>
            <div class="ui-g">
              <div class="ui-md-6 ui-sm-12 ui-lg-12">
                <span *ngFor="let chapter of chapterNames" ><p-radioButton name="groupname" label={{chapter}} ></p-radioButton><br><br></span>
              </div>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-6">
       <p-panel header="Generated">
            <p-accordion>
              <div class="ui-g">
                <div class="ui-g-12">
                  <p-accordionTab  *ngFor="let data of chapterwiseTestDetails|keys">
                    <p-header><p class="chapter">{{data.key}}</p></p-header>
                    <div class="ui-g">
                      <div class="ui-g-12"  *ngFor="let test of data.value|keys">
                        <span class="leftpad">{{test.key}}</span>
                        <span class="low"><button label="{{test.value}}" [ngClass]="{'ui-button-success':test.value!='Resume'||test.value!='Start', 'ui-button-danger':test.value=='Start', 'ui-button-warning':test.value=='Resume'}" type="button" pButton></button><i title="Retake {{test.key}}" *ngIf=" !(test.value=='Start'|| test.value=='Resume') " class="fa fa-refresh fa-lg"></i></span>
                      </div>
                    </div>
                  </p-accordionTab>
                </div>
              </div>
            </p-accordion>
      </p-panel>
    </div>

 </div>
 </div>








