 <div class="fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Subscribe">
        <div id="subscribepanel">
          <h1>No Test Available</h1><br>
          <button pButton (click)="redirect()" type="text" class="ui-button-info" label="Subscribe Now"></button>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
      <p-panel header="Introduction">
        <div id="intro">
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
            <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
      <p-panel header="Progress">
        <p-chart type="doughnut" [data]="chapterwiseTestData"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-6 ui-sm-12 ui-lg-6">
        <p-panel><p-header>Chapterwise Test & Syllabus<span class="toright"></span><button [disabled]="selectedChapter==null||selectedChapter==''" id="inlinebutton" pButton type="text" class="ui-button-success" label="Generate"></button></p-header>
            <!--<div class="ui-g">
              <div class="ui-md-6 ui-sm-12 ui-lg-12">
                <p-tree selectionMode="single" [value]="dummyTree" [(selection)]="selectedChapter">
                </p-tree>
                <div *ngFor="let i of chapterwiseTestDetails|keys; let k=index" class="toggle">
                  <div class="withradio"> 
                    <p-radioButton name="chapter" [(ngModel)]="selectedChapter" value="{{i.key}}"></p-radioButton>
                    <a data-toggle="collapse" [href]="'#'+k">{{i.key}}</a>
                  </div>
                  <div id="{{k}}" class="collapse">
                    <ul>
                      <li *ngFor="let topic of topicNames">{{topic}}</li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>-->
            
             <p-accordion (onOpen)="tabOpen($event)" (onClose)="tabClose($event)">
              <div class="ui-g">
                <div class="ui-g-12">
                  <p-accordionTab  *ngFor="let data of dummyChapters">
                    <p-header><span class="chapter">{{data}}</span></p-header>
                    <div class="ui-g">
                      <div class="ui-g-12"  *ngFor="let test of dummyTopics">
                        <span class="leftpad">{{test}}<br></span>
                      </div>
                    </div>
                  </p-accordionTab>
                </div>
              </div>
            </p-accordion>
            <p-growl [(value)]="generateMsg" ></p-growl>
        </p-panel>
    </div>

    <div class="ui-g-6">
       <p-panel header="Generated">
            <p-accordion>
              <div class="ui-g">
                <div class="ui-g-12">
                  <p-accordionTab  *ngFor="let data of chapterwiseTestDetails|keys">
                    <p-header><span class="chapter">{{data.key}}</span></p-header>
                    <div class="ui-g">
                      <div class="ui-g-12"  *ngFor="let test of data.value|keys">
                        <span class="leftpad">{{test.key}}</span>
                        <span class="low"><button label="{{test.value}}" [ngClass]="{'ui-button-success':test.value!='Resume'||test.value!='Start', 'ui-button-danger':test.value=='Start', 'ui-button-warning':test.value=='Resume'}" type="button" pButton></button><button pButton type="button" style="width:40px;" icon="fa fa-refresh fa-spin fa-fw" *ngIf=" !(test.value=='Start'|| test.value=='Resume') "></button></span>
                      </div>
                    </div>
                  </p-accordionTab>
                </div>
              </div>
            </p-accordion>
      </p-panel>
    </div>
 </div>
 </div>








