

<div class="layout-wrapper menu-layout-static">

  <div class="topbar clearfix">
    <div class="topbar-left">
      <div class="logo">
        <img src="assets/layout/images/swastick-book-box-logo.png" alt="Swastick Book Box logo">
      </div>
      <a href="#" id="menu-button" style="">
        <i class="fa fa-chevron-circle-left"></i>
      </a>
    </div>
    <div class="topbar-right">
      <a href="#" id="topbar-menu-button">
          <i class="fa fa-bars fa-stroke"></i>
      </a>
          
      <ul id="breadcrumb">
        <li><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
      </ul>
      
      <ul class="topbar-items fadeInDown animated">
        <li class="profile-item">
          <a class="" href="#/account/profile">     
            <span class="user-img-ico">           
              <img class="profile-image" src="assets/layout/images/Profile_picture.png">
            </span>
            <span class="topbar-item-name">User Name</span>
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#/account/subscribe">
            <i class=" fa fa-fw fa-diamond"></i>
            <span class="">Subscribe</span>
          </a>
        </li>
        <li role="menuitem">
          <a href="">
            <i class="fa fa-fw fa-power-off"></i>
            <span class="hidden-sm">Logout</span>
          </a>
        </li>
      </ul> 
    </div>
  </div>


<div class="layout-menu-container">
  <div class="nano has-scrollbar">
    <div class="nano-content menu-scroll-content" tabindex="0" style="margin-right: -17px;">
      <div class="ui-g">
        <div class="ui-g-12 ui-g-nopad" id="menu-block">
          <img class="img-responsive profile-img" src="assets/layout/images/male_default.png">
        </div>
      </div>
      <div style="padding-left:20px;color:white">
        <div class="wrapper">
          <h5>User Name</h5>
          <h5>Class V</h5>
          <h5 class="text-overflow">aaa@gmail.com</h5>
          <i class="fa fa-pencil-square hover" data-target="#changeImg" data-toggle="modal"></i>
        </div>
      </div>
      <hr id="hr">
      
        <ul class="layout-menu clearfix ng-tns-c8-99" root="true" visible="true">
          <li class="active-menuitem">
            <a class="ripplelink active-menuitem-routerlink" href="#/account/dashboard">
              <i class="fa fa-home"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="ripplelink" href="#/account/subscribe">
              <i class="fa fa-pencil-square-o"></i>
              <span>Subscribe</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-reasoning"></i>
              <span>Reasoning</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-maths"></i>
              <span>Maths</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-science"></i>
              <span>Science</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-gk"></i>
              <span>General Knowledge</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-english"></i>
              <span>English</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="icon-cyber"></i>
              <span>Computer</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="account/reasoning/demotest">
                  <i class="fa fa-circle-o"></i><span>Demo Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/chapterwisetest">
                  <i class="fa fa-circle-o"></i><span>Chapterwise Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/sampletest">
                  <i class="fa fa-circle-o"></i><span>Sample Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/mocktest">
                  <i class="fa fa-circle-o"></i><span>Mock Test</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="account/reasoning/result">
                  <i class="fa fa-circle-o"></i><span>Result</span>
                </a>
              </li>
            </ul>
          </li><li>
            <a href="#">
              <i class="fa fa-question-circle"></i>
              <span>Support</span>
              <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul style="height: 0px;">
              <li>
                <a class="ripplelink" href="#">
                  <i class="fa fa-circle-o"></i><span>Create Ticket</span>
                </a>
              </li>
              <li>
                <a class="ripplelink" href="#">
                  <i class="fa fa-circle-o"></i><span>View Tickets</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      
    </div>
  </div>
</div>
<div class="layout-main">
<div class="layout-main-content">
<div class="main-content-view">

<div class="ui-g">    
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
          <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
            <span class="ui-panel-title">Subject Summary</span>
          </div>
          <div class="ui-panel-content-wrapper">
            <div class="ui-panel-content ui-widget-content">
            <div class="row">
              <div class="col-sm-4 col-xs-6" id="com">
                <div class="sub">
                  <div class="row">
                    <div class="col-sm-3">
                      <i class="icon-cyber icon-4x"></i>
                    </div>
                    <div class="col-sm-9" style="display:inline-flex;height:40px;">
                      <div style="align-items:center;display:flex;">COMPUTERS
                      </div>
                    </div>
                  </div>
                  <span>
                    <button class="ui-button ui-state-default ui-corner-all">
                      <span>Coming Soon...</span>
                    </button>
                  </span> 
                </div>
              </div>
              <div class="col-sm-4 col-xs-6" id="sci">
                <div class="sub">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="icon-science icon-4x"></i>
                  </div>
                  <div class="col-sm-9" style="display:inline-flex;height:40px;">
                    <div style="align-items:center;display:flex;">SCIENCE
                    </div>
                  </div>
                </div>
                <span>
                  <button class="ui-button ui-state-default ui-corner-all"><span>Demo</span></button>
                  <button class="ui-button-danger ui-corner-all"><span>Start Test</span></button>
                </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6" id="mat">
                <div class="sub">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="icon-maths icon-4x"></i>
                  </div>
                  <div class="col-sm-9" style="display:inline-flex;height:40px;">
                    <div style="align-items:center;display:flex;">MATHEMATICS
                    </div>
                  </div>
                </div>
                <span>
                  <button class="ui-button ui-state-default ui-corner-all"><span>Demo</span></button>
                  <button class="ui-button-danger ui-corner-all"><span>Start Test</span></button>
                </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6" id="eng">
                <div class="sub">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="icon-english icon-4x ng-star-inserted"></i>
                  </div>
                  <div class="col-sm-9" style="display:inline-flex;height:40px;">
                    <div style="align-items:center;display:flex;">ENGLISH
                    </div>
                  </div>
                </div>
                <span>
                  <button class="ui-button ui-state-default ui-corner-all"><span>Demo</span></button>
                  <button class="ui-button-danger ui-corner-all"><span>Start Test</span></button>
                </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6" id="gen">
                <div class="sub">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="icon-gk icon-4x"></i>
                  </div>
                  <div class="col-sm-9" style="display:inline-flex;height:40px;">
                    <div style="align-items:center;display:flex;">GENERAL-KNOWLEDGE
                    </div>
                  </div>
                </div>
                <span>
                  <button class="ui-button ui-state-default ui-corner-all"><span>Demo</span></button>
                  <button class="ui-button-danger ui-corner-all"><span>Start Test</span></button>
                </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6" id="rea">
                <div class="sub">
                <div class="row">
                  <div class="col-sm-3">
                    <i class="icon-reasoning icon-4x"></i>
                  </div>
                  <div class="col-sm-9" style="display:inline-flex;height:40px;">
                    <div style="align-items:center;display:flex;">REASONING
                    </div>
                  </div>
                </div>
                <span>
                  <button class="ui-button ui-state-default ui-corner-all"><span>Demo</span></button>
                  <button class="ui-button-danger ui-corner-all"><span>Start Test</span></button>
                </span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div class="col-sm-12">
      <h3>Test Summary</h3>
      <hr/>
      <div class="row">
      <div class="col-xs-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left sideways">
          <li class="active"><a href="#ts_reasoning" data-toggle="tab">Resoning</a></li>
          <li><a href="#ts_maths" data-toggle="tab">Maths</a></li>
          <li><a href="#ts_science" data-toggle="tab">Science</a></li>
          <li><a href="#ts_gk" data-toggle="tab">General Knowledge</a></li>
          <li><a href="#ts_english" data-toggle="tab">English</a></li>
          <li><a href="#ts_cyber" data-toggle="tab">Computer</a></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="ts_reasoning">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 5%;">5%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar">-5%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="ts_maths">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test" ng-reflect-text="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%;">0%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="ts_science">
          <div class="row">
            <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 67%;">67%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 33%;">33%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="ts_gk">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
                <div class="col-xs-12 col-sm-9 text-center">
                  <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 91%;">91%
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 9%;">9%
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                  <div class="ui-g">
                    <div class="col-xs-12">
                      <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                      <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                      <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="ts_english">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
                <div class="col-xs-12 col-sm-9 text-center">
                  <div class="progress hover progmob" tooltip="Go To Chapterwise Test" ng-reflect-text="Go To Chapterwise Test">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 3%;">3%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar">-3%
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                  <div class="ui-g">
                    <div class="col-xs-12">
                      <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                      <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                      <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="tab-pane" id="ts_cyber"><div class="text-center">Coming Soon...</div></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
    <div class="col-sm-12">
      <h3>Result Summary</h3>
      <hr/>
      <div class="row">
      <div class="col-xs-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left sideways">
          <li class="active"><a href="#rs_reasoning" data-toggle="tab">Resoning</a></li>
          <li><a href="#rs_maths" data-toggle="tab">Maths</a></li>
          <li><a href="#rs_science" data-toggle="tab">Science</a></li>
          <li><a href="#rs_gk" data-toggle="tab">General Knowledge</a></li>
          <li><a href="#rs_english" data-toggle="tab">English</a></li>
          <li><a href="#rs_cyber" data-toggle="tab">Computer</a></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="rs_reasoning">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 5%;">5%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar">-5%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="rs_maths">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test" ng-reflect-text="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%;">0%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="rs_science">
          <div class="row">
            <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
              <div class="col-xs-12 col-sm-9 text-center">
                <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 67%;">67%
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 33%;">33%
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                  <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                    <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                    <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="rs_gk">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
                <div class="col-xs-12 col-sm-9 text-center">
                  <div class="progress hover progmob" tooltip="Go To Chapterwise Test">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">0%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 91%;">91%
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 9%;">9%
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                  <div class="ui-g">
                    <div class="col-xs-12">
                      <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                      <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                      <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="rs_english">
            <div class="row">
              <div class="col-xs-12 col-sm-3">Chapterwise Test</div>
                <div class="col-xs-12 col-sm-9 text-center">
                  <div class="progress hover progmob" tooltip="Go To Chapterwise Test" ng-reflect-text="Go To Chapterwise Test">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 3%;">3%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%;">100%
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar">-3%
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                  <div class="ui-g">
                    <div class="col-xs-12">
                      <div class="col-xs-12 col-sm-4"><span class="comp fa fa-circle"></span> Completed</div>
                      <div class="col-xs-12 col-sm-4"><span class="gen fa fa-circle"></span> Generated</div>
                      <div class="col-xs-12 col-sm-4"><span class="inc fa fa-circle"></span> Remaining</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="tab-pane" id="rs_cyber"><div class="text-center">Coming Soon...</div></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
      
    </div>
  </div>
</div>

</div>
<div class="fill"></div>

  <div class="ui-g">
    <div class="ui-g-12 footer">
      <span class="footer-text"> Copyright © Swastick Book Box 2019. All Rights Reserved</span>
    </div>
  </div>

</div>
</div>
<div class="layout-mask"></div>
</div>
