<div class="ui-g">
    <div class="info-side-box">
            <div><button class="btn ui-button-info" data-toggle="modal" data-target="#introModel"><span><i class="fa fa-exclamation-circle"></i></span></button></div>
            <div><button class="btn ui-button-info" data-toggle="modal" data-target="#progressModal"><span><i class="fa fa-pie-chart"></i></span></button></div>
        </div>
<div class="modal fade" id="introModel" tabindex="-1" role="dialog" aria-labelledby="introModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Introduction</h4>
      </div>
      <div class="modal-body">
        <div id="intro" [MathJax]="lang.testIntro.demoTest"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Progress</h4>
      </div>
      <div class="modal-body">
        <div>
            <p-chart type="doughnut" [data]="demoTestData"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="ui-g-6 ui-sm-12">
        <p-panel header="Syllabus">
            <div class="ui-g">
                <div class=ui-g-12>
                    <p-accordion>
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <p-accordionTab *ngFor="let data of subjectInfo.scienceChapters['chapters']">
                                    <p-header><span class="chapter"> {{data.name}} </span> </p-header>
                                    <div class="ui-g">
                                        <ol>
                                            <li class="ui-g-12" *ngFor="let topic of data['topics']">
                                                <span class="">{{topic.name}}<br></span>
                                            </li>
                                        </ol>
                                    </div>
                                </p-accordionTab>
                            </div>
                        </div>
                    </p-accordion>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12" *ngIf="displayTest">
        <!-- <p-panel header="Demo Test">
            <div id="demotest" *ngFor="let test of chapterwiseTest.science?.demo_test['tests']">
                <span *ngIf="test.attempted==0" class="low">
                    <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,null,test.attempted,test.completed,null)" label="Start" [disabled]="spinner2!=null" type="button" pButton></button>
                    <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward" [disabled]="false" type="button" pButton></button>
                </span>

                <span *ngIf="test.completed==0&&test.attempted!=0" class="low">
                    <button *ngIf="spinner2!=test.id" class="ui-button-warning" (click)="startTest(test.id,null,test.attempted,test.completed,null)" label="Resume" [disabled]="spinner2!=null" type="button" pButton></button>
                    <button *ngIf="spinner2==test.id" class="ui-button-warning" icon="fa fa-circle-o-notch fa-spin fa-forward" type="button" pButton></button>
                </span>
            </div>
        </p-panel> -->
        <p-panel header="Demo Test">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h4 *ngIf="!subjectInfo.subscribedSubjects.Science">Subscribe now to get...</h4>
                    <h4 *ngIf="subjectInfo.subscribedSubjects.Science">You can now give...</h4>

                    <ul>
                        <li><i class="fa fa-check"></i>{{testCountObject['chapterwiseTest']}} Chapterwise Tests</li>
                        <li><i class="fa fa-check"></i>{{testCountObject['sampleTest']}} Sample Tests</li>
                        <li><i class="fa fa-check"></i>{{testCountObject['mockTest']}} Mock Tests</li>
                    </ul>
                </div>
                <div class="ui-g-12 text-center">
                    <div *ngFor="let test of chapterwiseTest.science?.demo_test['tests'];let k = index">
                        <span *ngIf="test.attempted==0">
                            <button *ngIf="spinner2!=test.id" style="width:130px" class="ui-button-success" (click)="startTest(test.id,null,test.attempted,test.completed,null,k)" label="Take Demo Test" [disabled]="spinner2!=null" type="button" pButton></button>
                            <button *ngIf="spinner2==test.id" style="width:130px" class="ui-button-success" icon="fa fa-circle-o-notch fa-spin fa-forward" [disabled]="false" type="button" pButton></button>
                        </span>

                        <span *ngIf="test.completed==0&&test.attempted!=0">
                            <button *ngIf="spinner2!=test.id" style="width: 74px" class="ui-button-warning" (click)="startTest(test.id,null,test.attempted,test.completed,null,k)" label="Resume" [disabled]="spinner2!=null" type="button" pButton></button>
                            <button *ngIf="spinner2==test.id" style="width: 74px" class="ui-button-warning" icon="fa fa-circle-o-notch fa-spin fa-forward" type="button" pButton></button>
                        </span>
                
                        <span>
                            <button label="Subscribe" *ngIf="!subjectInfo.subscribedSubjects.Science" (click)="redirect()" class="ui-button-info" pButton></button>
                        </span>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>