.write label{
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.write input{
	width: 400px;
	height: 30px;
}

.write textarea{
	height: 200px;
	width:400px
}

.align label{
	vertical-align: top;
}

.write button{
	margin-left: 7%;
}

.no-pad{
	padding-top: 0;
	margin-top: 0;
}

#top{
	margin-top: 0
}