body{
    // background-color: #2D353C;
}

.top-border{
    border-top: 1px solid white;
}

.padded{
    padding-right: 8%;
    padding-left: 18%;
}

.hover{
    display: inline-block;
    height: 25px;
}

.hover .fa:hover{
    cursor: pointer;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
    
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}



.pad-less{
    padding-right: 0;
    padding-left: 0
}

.question{
    font-size: 20px;
}

.correct{
    color: #2BBF61;
}

.incorrect{
    color: #DC4E42;
}

.fixed-height{
    min-height: 615px; 
    padding-bottom: 20px;
}

.white-theme{
    background-color: white;
    color: #2D353C;
}

.long-width{
    width: 80%;
}

.short-width{
    width: 20%
}

.dark-theme{
    background-color: #2D353C;
    color: white;
    // min-height: 100%;
}

.box{
    border: 1px solid #2D353C;
    margin-bottom: 1%
}

.n{
    display: inline-block;
    width:18%;
    margin-bottom: 3%
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
}

.inline{
    display: inline-block;
}

.bottom-border{
    border-bottom: 1px solid white;
}

.qnumber {
    color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumber:hover {
    color: black;
    background-color: lightgray;
    border-color: lightgrey;
    cursor: pointer;
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);

    -webkit-transition: all .20s;
       -moz-transition: all .20s;
        -ms-transition: all .20s;
         -o-transition: all .20s;
            transition: all .20s;
}

.qnumberclick {
    background-color: white;
    color: #2D353C;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumbermark {
    background-color: #EEA236;
    border: 2px solid #EEA236;
}

.qnumbercorrect {
    background-color: #2BBF61;
    border: 2px solid #2BBF61;
}

.qnumberwrong {
    background-color: #DC4E42;
    border: 2px solid #DC4E42;
}

.m-group button,
.n-group button,
.v-group button {
    color: white;
    // height: 32px;
    // width: 32px
}

.m-group{
    // width: 25%;
}

.m-group button {
    background-color: #DA5451;
}

.v-group{
    // margin: 0 9% 0 9%;
}

.v-group button {
    background-color: #5BB85D;
    // margin: 0 9% 0 9%;
}

.n-group button {
    background-color: #2196F5;
}

.button-text{
    font-size: 1.6em;
    // line-height: 0.1;
}


#a,
#b,
#c,
#d {
    display: inline-block;
    color: white;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
}

#a {
    background-color: #5DB75D;
}

#b {
    background-color: #347AB6;
}

#c {
    background-color: #71C9E1;
}

#d {
    background-color: #EEAE4C;
}


.left-pad{
    padding-left: 2%
}

.min-height{
    height: 276px;
    overflow-y: auto; 
}

.box table{
    background-color: red;
}


.rou{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 15px;
}

.full{
    min-height: 100%;
}

.inst{
    margin-bottom: 12px;
    display: inline-block;
    margin-right: 20px
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgrey;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.fixed-foot{
    position: fixed;
    bottom: 0;
}

.fixed-foot .to-left{
    margin-left: 48%;
}

.empty-container{
    height: 60px;
}

.fixed-foot button:hover{
    cursor: pointer;
}

.fixed-foot button{
    margin-right: .2em;
}

.grey-back{
    // display: inline-block;
    // background: lightgrey;
    // width: 60px;
}

.fixed-foot .ui-g-2{
    width: 14%;
}

.copy{
    position: fixed;
    bottom: 0;
    left:8%;
    background: transparent;
}

.green-text{
    color: #2BBF61;
}

.orange-text{
    color: #EEA236;
}

.red-text{
    color: #DC4E42;
}

.big-p p{
    font-size: 19px
}

.float-right{
    position: relative;
    bottom: 35%;
    left: 65%;
    width: 20%
}

.fixed-buttons{
    position: fixed;
    bottom: 0;
    width: 20%;
    right: 30%
}

.badge{
    background-color: white;
    color: #2D353C;
}

.hover i{
    color: #FFC057;
}