body{
    background-color: #2D353C;
}

.top-border{
    border-top: 1px solid white;
}

// .padded{
//     padding-right: 24%;
//     padding-left: 24%;
// }

.to-right{
    padding-left: 90px;
}

.hover:hover{
    cursor: pointer;
}

.pad-less{
    padding-right: 0;
    padding-left: 0
}

.question{
    font-size: 20px;
}

.correct{
    color: #2BBF61;
}

.incorrect{
    color: #DC4E42;
}

.fixed-height{
    min-height: 590px; 
    padding-bottom: 20px;
}

.right-fixed{
    position: fixed;
    right: 0;
}

.white-theme{
    background-color: white;
    color: #2D353C;
}

.dark-theme{
    background-color: #2D353C;
    color: white;
}

.box{
    border: 1px solid #2D353C;
    margin-bottom: 1%
}

.n{
    display: inline-block;
    width:12%;
    margin-bottom: 3%
}

.footer{
    position: fixed;
    bottom: 0;
}

.inline{
    display: inline-block;
}

.bottom-border{
    border-bottom: 1px solid white;
}

.qnumber {
    color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}


.qnumber:hover {
    color: black;
    background-color: lightgray;
    border-color: lightgrey;
    cursor: pointer;
}

.qnumberclick {
    background-color: white;
    color: #2D353C;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumbermark {
    background-color: #EEA236;
    border: 2px solid #EEA236;
}

.qnumbercorrect {
    background-color: #2BBF61;
    border: 2px solid #2BBF61;
}

.qnumberwrong {
    background-color: #DC4E42;
    border: 2px solid #DC4E42;
}

.m-group button,
.n-group button,
.v-group button {
    font-size: 171%;
    color: white;
}

.m-group button {
    background-color: #DA5451;
}

.v-group{
    margin: 0 4% 0 4%;
}

.v-group button {
    background-color: #5BB85D;
}

.n-group button {
    background-color: #2196F5;
}


#a,
#b,
#c,
#d {
    display: inline-block;
    color: white;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
}

#a {
    background-color: #5DB75D;
}

#b {
    background-color: #347AB6;
}

#c {
    background-color: #71C9E1;
}

#d {
    background-color: #EEAE4C;
}
