body{
    // background-color: #2D353C;
}

.top-border{
    border-top: 1px solid white;
}

.padded{
    padding-right: 8%;
    padding-left: 8%;
}
.ui-progressbar{border: 1px solid #fff !important;}

.hover{
    display: inline-block;
    height: 50px;
    line-height:50px;
}
.hover i{
    color: #24346d;
}
.hover:hover{background:none;}
.hover .fa:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}

.pad-less{
    padding-right: 0;
    padding-left: 0
}

.incorrect{
    color: #DC4E42;
}

.fixed-height{
    min-height: 615px; 
    padding-bottom: 20px;
}

.white-theme{
    background-color: white;
    color: #2D353C;
}
.ui-progressbar .ui-progressbar-value{border: 1px solid #c9cdd2;}
/*.long-width{
    width: 80%;
}

.short-width{
    width: 20%
}*/
.head-part{background-color:#fff;color:#24346d;}
.dark-theme{
    background-color: #24346d;
    color: white;
    // min-height: 100%;
}
.q-optn{display:inline-flex;}
.box img{max-height:150px;max-width:350px;}
.answer-box {display: flex;}
.answer-box .option-selected{color:#24346d;border-color:#24346d;}
.answer-box .option-box{margin-bottom:5px;display: flex;}
.answer-box .option-box label img{max-height:100px;max-width:350px;}
.answer-box input[type="radio"]{opacity:0;position: absolute;left: -3000px;}
.answer-box input[type="radio"] + label{color:#3a83c4;cursor:pointer;border:2px solid #c7c7c7;border-radius:5px;padding:0 5px;display: inline-block;width: 93%;
    font-weight: 600;}
.answer-box input[type="radio"]:checked + label{color: #24346d;
    border-color: #24346d;}
.ques-hint-img img{max-height:150px;}

.info-side-box {bottom:100px;}
@media only screen and (max-width: 767px){
.info-side-box {
    top: auto;
}
}

/*.answer-box p-radioButton{}
.answer-box p-radioButton[type="radio"] + label{color:#24346d;font-weight:500;}
.answer-box p-radioButton[type="radio"]:checked + label{color:black;font-weight:900;}

.answer-box p-radioButton .ui-radiobutton[type="radio"] + label,
.answer-box p-radioButton.ui-radiobutton[type="radio"] + label{color:#24346d;font-weight:500;}

p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box{}*/

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
}

.inline{
    display: inline-block;
}

.bottom-border{
    border-bottom: 1px solid #3f4d83;
}

.qnumber {
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.dark-theme .qnumber:hover {
    background-color: #ccc;
    border-color: #ccc;
    cursor: pointer;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);

    -webkit-transition: all .20s;
       -moz-transition: all .20s;
        -ms-transition: all .20s;
         -o-transition: all .20s;
            transition: all .20s;
}

.qnumberclick {
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.qnumbermark {
    background-color: #EEA236;
    border: 2px solid #EEA236;
}

.qnumbercorrect {
    background-color: #2BBF61;
    border: 2px solid #2BBF61;
}

.qnumberwrong {
    background-color: #DC4E42;
    border: 2px solid #DC4E42;
}

.m-group button,
.n-group button,
.v-group button {
    //color: white;
    // height: 32px;
    // width: 32px
}

.m-group{
    // width: 25%;
}

.m-group button span.fa {
   // color: #DA5451;
}

.v-group{
    // margin: 0 9% 0 9%;
}

.v-group button {
   // color: #5BB85D;
    // margin: 0 9% 0 9%;
}

.n-group button {
    //color: #2196F5;
}

.button-text{
    //font-size: 200%;
    //vertical-align: middle;
}


#a,
#b,
#c,
#d {
    display: inline-block;
    color: #24346d;;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
    font-size:16px;font-weight:700;
}

/*#a {
    background-color: #24346d;
}

#b {
    background-color: #24346d;
}

#c {
    background-color: #24346d;
}

#d {
    background-color: #24346d;
}*/


.left-pad{
    padding-left: 2%
}

.min-height{
    //height: 276px;
    overflow-y: auto; 
}

.box table{
    background-color: red;
}


.rou{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 15px;
}

.full{
    min-height: 100%;
}

.inst{
    // margin-bottom: 12px;
    display: inline-block;
    // margin-right: 20px;
    font-weight: normal;
    
}

.fixed-foot{
    position: fixed;
    bottom: 0;
}

.fixed-foot .to-left{
    margin-left: 48%;
}

.empty-container{
    height: 60px;
}

.fixed-foot button:hover{
    cursor: pointer;
}

.fixed-foot button{
    margin-right: .2em;
}

.grey-back{
    // display: inline-block;
    // background: lightgrey;
    // width: 60px;
}

.fixed-foot .ui-g-2{
    width: 14%;
}

.copy{
    /*position: fixed;*/
    bottom: 0;
    left:0;
    background: transparent;
}

.green-text{
    color: #2BBF61;
}

.orange-text{
    color: #EEA236;
}
.themeblue-text{
    color:#24346d;
}

.red-text{
    color: #DC4E42;
}

.big-p p{
    font-size: 19px
}

.float-right{
    position: relative;
    bottom: 35%;
    left: 65%;
    width: 20%
}

.fixed-buttons{
    height: 44px;
    padding-top: 0;
    margin-top: 0;
    background-color: white;
    position: fixed;
    bottom: 0;
    // width: 20%;
    //width:100%;
    // right: 30%
    //left: 20%;
}

.to-center .ui-g-4{
    padding-top: 0;
}

.badge{
    background-color: white;
    color: #2D353C;
}

.hide-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 29px;
}

.hide-overflow :hover{
    cursor: pointer;
}

.spin{
    padding-top: 14%; 
}

.fixed-buttons button{
    margin-right: 5px;
}

.button-text .fa-circle-o-notch{
    //font-size: 25px;
}
.ui-button.ui-button-info.ui-state-default{background-color:#24346d;}
.ui-button{border:none;}
.blob{
    // background-color: blue;
}
ol{padding-left:15px}
.to-center{
    //width: 40%;
    //margin-left: 23%;
}

.orange-back{
    background: #DC4E42;
}

.green-back{
    background: #2BBF61;
}

.blue-back{
    background: #2196F5;
}

.inst-table table tr{
    margin-bottom: 10%;
}

.inst-table th{
    width: 52px;
}

.inst-table td{
    width: 200px;
}

.modal-body .inst-table table tr{
    margin-bottom: 10%;
}

.modal-body .inst-table th{
    width: 20%;
}

.modal-body .inst-table td{
    width: 80%;
}

.test-top-menuPanel{
  border-bottom: 2px solid #24346d;
  position:fixed;
  top:0;
  left:0;
  height:50px;
    width: 25%;
        background: #fff;
}
#testMenuToggle {
  position:absolute;
  appearance:none;
  display:none;}
.menu-panelbox{padding-top:55px;}
.test-top-menuPanel img{margin-top: 9px;margin-left: 25px;}

@media only screen and (max-width: 767px){
    .test-top-menuPanel{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  border-bottom: 2px solid #24346d;
  z-index: 99;
}
.test-top-menuPanel img{margin-top: 9px;
    margin-left: 25px;
    }
.test-top-menuPanel i{color:#24346d;font-size:26px;padding:0 10px;}
.menu-panelbox {
background:#24346d;
color:#FFF;
position: absolute;
top: -455px;
left: 0;
width: 100%;
height: 400px;
padding: 2px;
margin-top:55px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
}

#testMenuToggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#testMenuToggle + label {
  position:fixed;
  top:0px; right:30px;
  cursor:pointer;
  //background: #26ae90;
width: 50px;
color: #24346d;
line-height:46px;
font-size:26px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  //margin:20px 50px;
  transition:all 500ms ease;
  z-index:99;
  -webkit-text-stroke: 1px #fff;
}
#testMenuToggle + label:after {
  content:"\f0c9";
    font-family:FontAwesome;
}

.question-panelbox {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding-top:4em;
}

#testMenuToggle:checked ~ .menu-panelbox {
  top: 0;
}

#testMenuToggle:checked ~ .question-panelbox {
  margin-top: 400px;
}

#testMenuToggle:checked + label {
    color: #3a83c4;
    -webkit-text-stroke: 1px #fff;
}

#testMenuToggle:checked + label:after {
    content:"\f00d";
    font-family:FontAwesome;
}
hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid #cbcbcb;}
}