#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#sampletestpanel{
    text-align: center;

}

button {
    text-align:center;
    margin-left:10%;
    width:100px; 
    }



#subscribe{
    margin-right:10%;
    width:200px;
    background-color:#1D8ECD;
    border: none; 
}
#last{
    margin-left:7.5%;
}

#dropdown{
    margin-left: 40%;
    height:auto;
}