#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#sampletestpanel{
    padding-left:15%;

}

button {
    text-align:center;
    margin-left:10%;
    width:100px; 
    }



#subscribe{
    margin-right:10%;
    width:200px;
}