#intro {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

#demotest {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

.leftpad {
    padding-left: 5%;
}

.chapter {
    font-size: 17px;
}