<div class="topbar clearfix">
    <div class="topbar-left">
        <div class="logo">
            <img src="assets/layout/images/logo.png" alt="Logo">
        </div>
    </div>
    <div class="topbar-right">
        <a id="menu-button" style="margin-top:-50px" href="#" (click)="app.onMenuButtonClick($event);menuEvent()">
                <i class="fa fa-chevron-circle-left"></i>
            </a>
        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
                <i class="fa fa-bars"></i>
            </a>
            
        <ul id="breadcrumb" *ngIf="!app.isMobile()&&personalInfo.userInfo.gender=='Male'">
          <li [routerLink]="['/account/dashboard']"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
          <li *ngIf="currentComponent[0]=='Science'"><a href="#"><i class="icon-science icon-2x"> &nbsp;</i><span> Science</span></a></li>
          <li *ngIf="currentComponent[0]=='Computers'"><a href="#"><i class="icon-cyber icon-2x"> &nbsp;</i><span> Computers</span></a></li>
          <li *ngIf="currentComponent[0]=='Mathematics'"><a href="#"><i class="icon-maths icon-2x"> &nbsp;</i><span> Mathematics</span></a></li>
          <li *ngIf="currentComponent[0]=='General-Knowledge'"><a href="#"><i class="icon-gk icon-2x"> &nbsp;</i><span> General-Knowledge</span></a></li>
          <li *ngIf="currentComponent[0]=='Reasoning'"><a href="#"><i class="icon-reasoning icon-2x"> &nbsp;</i><span> Reasoning</span></a></li>
          <li *ngIf="currentComponent[0]=='English'"><a href="#"><i class="icon-english icon-2x"> &nbsp;</i><span> English</span></a></li>
          <!-- <li *ngIf="currentComponent[0]=='English'"><a href="#"><i class="fa fa-user"> &nbsp;</i><span class="sub"> English</span></a></li> -->
          
          <li *ngIf="currentComponent[1]==null&&currentComponent[0]!='Dashboard'"><a href="#">{{currentComponent[0]}}</a></li>

          <li *ngIf="currentComponent[1]!=null"><a href="#">{{currentComponent[1]}}</a></li>
        </ul>

        <ul id="breadcrumbF" *ngIf="!app.isMobile()&&personalInfo.userInfo.gender=='Female'">
          <li [routerLink]="['/account/dashboard']"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
          <li *ngIf="currentComponent[0]=='Science'"><a href="#"><i class="icon-science icon-2x"> &nbsp;</i><span> Science</span></a></li>
          <li *ngIf="currentComponent[0]=='Computers'"><a href="#"><i class="icon-cyber icon-2x"> &nbsp;</i><span> Computers</span></a></li>
          <li *ngIf="currentComponent[0]=='Mathematics'"><a href="#"><i class="icon-maths icon-2x"> &nbsp;</i><span> Mathematics</span></a></li>
          <li *ngIf="currentComponent[0]=='General-Knowledge'"><a href="#"><i class="icon-gk icon-2x"> &nbsp;</i><span> General-Knowledge</span></a></li>
          <li *ngIf="currentComponent[0]=='Reasoning'"><a href="#"><i class="icon-reasoning icon-2x"> &nbsp;</i><span> Reasoning</span></a></li>
          <li *ngIf="currentComponent[0]=='English'"><a href="#"><i class="icon-english icon-2x"> &nbsp;</i><span> English</span></a></li>
          <!-- <li *ngIf="currentComponent[0]=='English'"><a href="#"><i class="fa fa-user"> &nbsp;</i><span class="sub"> English</span></a></li> -->
          
          <li *ngIf="currentComponent[1]==null&&currentComponent[0]!='Dashboard'"><a href="#">{{currentComponent[0]}}</a></li>

          <li *ngIf="currentComponent[1]!=null"><a href="#">{{currentComponent[1]}}</a></li>
        </ul>
        
        <ul class="topbar-items fadeInDown animated" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}">
            <li #profile class="profile-item" [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">
                <a href="#" (click)="app.onTopbarItemClick($event,profile)">                            
                        <!-- <img class="profile-image" *ngif="{{personalInfo.userInfo.image_path==null}}" src="assets/layout/images/Profile_picture.png"> -->
                        <img class="profile-image" *ngIf="personalInfo.userInfo['image_path']==null" src="assets/layout/images/Profile_picture.png">
                        <img class="profile-image" *ngIf="personalInfo.userInfo['image_path']!=null" src="{{imgPath}}{{personalInfo.userInfo['image_path']}}?{{imgTimeStamp}}">

                        <span class="topbar-item-name">{{personalInfo.userInfo.firstname}} {{personalInfo.userInfo.lastname}}</span>
                    </a>
                <ul class="poseidon-menu fadeInDown">
                    <li role="menuitem">
                        <a href="#/account/profile">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Profile</span>
                            </a>
                    </li>
                    <!--<li role="menuitem">
                            <a href="#">
                                <i class="fa fa-fw fa-user-secret"></i>
                                <span>Privacy</span>
                            </a>
                        </li>-->
                    <!-- <li role="menuitem">
                        <a href="#/account/subscribe">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Settings</span>
                            </a>
                    </li> -->
                    <li (click)="logout()" role="menuitem">
                        <a href="">
                                <i class="fa fa-fw fa-sign-out red-text"></i>
                                <span >Logout</span>
                            </a>
                    </li>
                </ul>
            </li>
            <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}">
                <a href="#/account/subscribe">
                    <!--(click)="app.onTopbarItemClick($event,settings)">-->
                    <i class="topbar-icon fa fa-shopping-cart"></i>
                    <span class="topbar-item-name">Settings</span>
                </a>
            </li>
        </ul>
        <!-- <ul>

            <span style="font-size:130%">
                 Account <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{currentComponent[0]}} <i class="fa fa-angle-double-right" *ngIf="currentComponent[1]!=null" aria-hidden="true"></i> {{currentComponent[1]}}
            </span>
        </ul> -->
    </div>
</div>