<p-growl [value]="errorMessage" life="4000"></p-growl>
<p-growl [value]="successMessage" life="4000"></p-growl>
 <!--ENTER OTP-->
<p-dialog header="Mobile Verification" [(visible)]="dialog" modal="true" responsive="true"> 
    <div class="ui-g" id="dialog">
        Please enter OTP sent on {{mobile}}
        <div class="ui-g-12"><input pInput type="number" [(ngModel)]="otp" /></div>
        <div class="ui-g-6"><button pButton class="ui-button-info" label="Verify" (click)="verify()"></button></div>     
        <div class="ui-g-6"><button pButton class="ui-button-success" label="Resend OTP"></button></div>
        <div class="ui-g-12" *ngIf="errorSection">Incorrect OTP. Please try again</div>
    </div>
</p-dialog>

<div class="container">

    <div class="logo"><!--Olympiadbox logo-->
        <a href="http://olympiadbox.com"><img src="../../assets/layout/images/Olympiadbox-logo.png" id="oblogo" height="100px" width="100px"></a>
    </div>

    <div class="module form-module" *ngIf="!display" [@fadeInOut]>
      <div class="toggle" pTooltip=" Register" (click)="display=!display" ><i class="fa fa-user-plus fa-lg" ></i>
      </div>
      
      <!--LOGIN BOX-->
      <div class="form">
        <h2>Login to your account</h2>

        <form #formCtrl="ngForm" novalidate> 

          <!--Email Validator-->
          <div class="ui-message ui-messages-error" [hidden]="email.untouched" *ngIf="email.errors && email.errors.pattern">
            &nbsp;<i class="fa fa-exclamation"></i>&nbsp; Please Enter Valid Email Id
          </div>
          <input type="text"  name="email"
            #email="ngModel" [(ngModel)]="userLoginCreds.email"  pInputText placeholder="Username"
            pattern="^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$" required/>
             

          <input type="password"  name="password"
            #password="ngModel" [(ngModel)]="userLoginCreds.password" pInputText placeholder="Password" required/>
          
          <button pButton (click)="sendLoginCreds()" [disabled]="email.errors||userLoginCreds.password==''" type="submit" label="Login"></button><br><br>
          
          <span id="lostpassword"><a href="">Forgot Password?</a></span>

        </form>
        <div class="ui-g" id="optional">
            <div class="ui-g-5"><hr></div>
            <div class="ui-g-2"><h4>OR</h4></div>
            <div class="ui-g-5"><hr></div>
            <p-messages [value]="googleMessage"></p-messages>
            <button id="google" pButton type="button" icon="fa-google" label="Sign in"></button><br>
            <p-messages [value]="facebookMessage"></p-messages>
            <button id="facebook" pButton type="button" icon="fa-facebook" label="Sign in"></button>
        </div>

      </div>
    </div>

      <!--Registration Box-->
      <div class="form-module register" style="border-color:#2BBF61" *ngIf="display" [@fadeInOut]>
        <div class="toggle" style="background-color:#2BBF61" pTooltip=" Login" (click)="display=!display" >
            <i class="fa fa-sign-in fa-lg" ></i>
        </div>
    
      <div class="form">  
        <h2>Create an account</h2>
        <div class="ui-g">
            <div class="ui-g-6"> <!--FirstName Validator -->
                <div class="ui-message ui-messages-error" [hidden]="firstname.untouched" *ngIf="firstname.errors && firstname.errors.pattern">
                    &nbsp;<i class="fa fa-exclamation"></i>&nbsp; Invalid Firstname
                </div>  
                <input type="text" name="firstname"
                    #firstname="ngModel"  [(ngModel)]="userRegCreds.firstname" pInputText placeholder="Firstname"
                    pattern="^[a-zA-Z]+"/>
            </div>
            <div class="ui-g-6"> <!--LastName Validator -->
                <div class="ui-message ui-messages-error" [hidden]="lastname.untouched" *ngIf="lastname.errors && lastname.errors.pattern">
                    &nbsp;<i class="fa fa-exclamation"></i>&nbsp; Invalid Lastname
                </div>
                <input type="text" name="lastname"
                    #lastname="ngModel"  [(ngModel)]="userRegCreds.lastname" pInputText placeholder="Lastname"
                    pattern="^[a-zA-Z]+"/>
            </div>
            <div class="ui-g-6"> <!--Email Validators -->
                <div class="ui-message ui-messages-error" [hidden]="regEmail.untouched" *ngIf="regEmail.errors && regEmail.errors.pattern">
                &nbsp;<i class="fa fa-exclamation"></i>&nbsp; Invalid Email Id
                </div>
                <input type="text"  name="regEmail"
                    #regEmail="ngModel" [(ngModel)]="userRegCreds.email"  pInputText placeholder="Email"
                    pattern="^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$"/>
            </div>
            <div class="ui-g-6"> <!--Password validator-->
                <input type="password"  name="regPassword" pPassword weakLabel="Min 6 Characters" promptLabel="Min 6 Characters and a number" strongLabel="Great" mediumLabel="OK" 
                    indicator="false" #regPassword="ngModel" [(ngModel)]="userRegCreds.password" placeholder="Password"
                    pattern="^[^\s]{6,}"/>
            </div>
            <div class="ui-g-12">
                <h5 *ngIf="otpFlag" style="color:#DC4E42">You have to verify your mobile number for registration</h5>
                <h5 *ngIf="!otpFlag" style="color:#2BBF61"><i class="fa fa-check"></i>Mobile number verified!. Please register</h5>    
            </div>
            <div class="ui-g-6"><!--Mobile number Validator-->
                <input type="number"  name="regNumber" [disabled]="!otpFlag"
                    #regNumber="ngModel" [(ngModel)]="mobile" placeholder="Mobile Number"
                    pattern="^[7-9]{1}[0-9]{9}"/>
            </div>
            <div class="ui-g-3"><!--OTP -->
                <span id="otpbtn"><button pButton class="ui-button-info" label="Send OTP" iconPos="right" [disabled]="!otpFlag || regNumber.errors || mobile==null" (click)="dialog=true"></button></span>
            </div>

            <div class="ui-g-12">
                <button style="background-color:#2BBF61" pButton (click)="sendRegCreds()" [disabled]="regNumber.errors || regEmail.errors || firstname.errors 
                || lastname.errors || regPassword.errors || userRegCreds.password=='' || userRegCreds.firstname=='' || userRegCreds.lastname=='' 
                || userRegCreds.email=='' || mobile==null || otpFlag" type="submit" label="Register"></button>
            </div>
        </div>
     </div>
     <div id="footer"><p>Copyright &copy; 2017 OlympiadBox. All Rights Reserved.</p> </div>
</div>
</div>
