<div class="ui-g">
  <div class="ui-g-6">
    <p-panel header="Introduction">
      <div id="intro">
        <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
          , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
          , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Progress">
      <div>
        <p-chart type="doughnut" [data]="demoTestData"></p-chart>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Syllabus">
      <div>
        <p-accordion>
          <p-accordionTab *ngFor = "let chapter of chapterNames" header={{chapter}}>
            <ul>
              <li *ngFor="let topic of topicNames">{{topic}}</li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Demo Test">
      <div id="demotest">
        <button pButton type="button" label="TAKE DEMO TEST" class="ui-button-info"></button>
      </div>
    </p-panel>
  </div>
</div>
