<div class="fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Subscription Details">
        <br><br>
        <p-dataTable [value]="subscriptionTableData">
          <p-column *ngFor="let head of subscriptionTableHeaders" [header]="head.header" [field]="head.field"></p-column>
        </p-dataTable><br>
      </p-panel>
    </div>

    <div class="ui-g-12">
        <p-panel header="Subscribe Now"><br>
            <div class="ui-g">
              <div class="ui-g-3 ui-sm-12">
                <div *ngFor="let sub of dummySubjects;let i=index">
                  <p-checkbox name="package" [(ngModel)]="selectedPackage" value="{{sub}}" label="{{sub|uppercase}} - &#8377; {{dummyPrice[i]}}"></p-checkbox>
                  <br><br>
                </div>
              </div>
              <div class="ui-g-6">
              </div>
            </div>
          <span id="coupontext"><strong>Enter Coupon/School Code*</strong></span><input size="40" type="text" [(ngModel)]="coupon" pInputText/>
          <button id="applybutton" type="button" [disabled]="coupon==null||coupon==''" pButton label="Apply"></button><br><br>
          
          <div id="paybutton"><button type="button" class="ui-button-success" [disabled]="selectedPackage==''" pButton label="Pay Now" (click)="pay()"></button></div><br>
        </p-panel>   
      </div>
    </div>
  </div>
