.userinfo {
    border-left:solid 4px #3664dc;
    padding-left: 10px;
}

#profileimage{
    text-align: center;
}

#header{
    text-align: center;
    background-image:linear-gradient(white, lightgrey);
    border-radius: 20px;
    margin-bottom: 10px;
}

.userinfo p{
    color: #3664dc;
}

#editdialogbox {
    text-align: center;
}

.userdetails{
    margin-right:2px;;
    
}

a{
    cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#savebuttton{
    border:transparent;
    background-color:#3664dc;

}

.info{
    padding-left:22%;
}

.a{
    padding-top: 12px;
}

.info input{
    width:200px;
}

#dropdwn{
    width: 300px;
}

.b{
    text-align: left;
    padding-top:12px;
}

.container{
    height: 3000px;
}