<p-growl [value]="message" life="4000"></p-growl>
<div class="container">
    <div class="logo">
        <!--Swastick Book Box logo-->
        <a href="#"><img src="../../assets/layout/images/swastick-book-box-logo-icon.png" alt="Swastick Book Box logo" id="oblogo"  width="60px"></a>
    </div>
    <div class=" module form-module" *ngIf="!loginRegToggle" [@fadeInOut]>
        <div class="toggle" pTooltip=" Login" (click)="conditionalDisplay();reset();clearFlags()" *ngIf="loginForgotToggle||verifyForgotToggle">
            <i class="fa fa-sign-in fa-lg"></i>
        </div>
        <div class="toggle" pTooltip=" Register" (click)="conditionalDisplay();reset();clearFlags()" *ngIf="!(verifyForgotToggle||loginForgotToggle)">
            <i class="fa fa-user-plus fa-lg"></i>
        </div>
        <!--LOGIN BOX-->
        <div *ngIf="!loginForgotToggle; then login else forgot"></div>
    </div>
    <!--Registration Box-->
    <div class="form-module register" style="border-color:#24346d" *ngIf="loginRegToggle" [@fadeInOut]>
        <div class="toggle" style="background-color:#24346d" pTooltip=" Login" (click)="loginRegToggle=!loginRegToggle;reset();clearFlags()">
            <i class="fa fa-sign-in fa-lg"></i>
        </div>
        <div *ngIf="!regVerifyToggle; then reg else verify"></div>
    </div>
    
        <div class="ui-g-12 ui-sm-12 footer text-center">
            Copyright <i class="fa fa-copyright"></i> Swastick Book Box. All rights reserved
        </div>
    
    <ng-template #login>
        <div class="form">
            <div class="text-center">
                <h2>Login to your account</h2>
                <!--                 email ==>> {{userLoginCreds?.username}}
                password ==>> {{userLoginCreds?.password}} -->
            </div>
            <form #formCtrl="ngForm" novalidate>
                <!--Email Validator-->
                <input type="text" maxlength="31" name="email" #email="ngModel" [(ngModel)]="userLoginCreds.username" pInputText placeholder="Email" pattern="^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$" required/>
                <div class="text-center">
                    <p class="error" [hidden]="email.untouched" *ngIf="email.errors && email.errors.pattern">Please Enter Valid Email Id</p>
                </div>
                <br>
                <input type="password" name="password" value="" autocomplete="off" #password="ngModel" [(ngModel)]="userLoginCreds.password" pInputText placeholder="Password" pattern="^[^\s]{6,}" required/>
                <br>
                <div class="text-center">
                    <button *ngIf="!spinner" class="ui-button-info" pButton (click)="signIn()" [disabled]="password.errors||email.errors" type="submit" label="Login"></button>
                    <button *ngIf="spinner" class="ui-button-info" pButton icon="fa fa-circle-o-notch fa-spin fa-forward" type="submit"></button>
                    <br>
                    <span id="lostpassword"><a (click)="forgotPassword()">Forgot Password?</a></span><br>
                </div>
            </form>
            <div class="ui-g text-center" id="optional">
                <div class="ui-g-5">
                    <hr>
                </div>
                <div class="ui-g-2">
                    <h4>Or</h4>
                </div>
                <div class="ui-g-5">
                    <hr>
                </div>
                <div class="ui-g-12">
                    <button pButton (click)="loginRegToggle=!loginRegToggle;reset();clearFlags()" class="ui-button-success" type="button" label="Register"></button>
                </div>
            </div>
            <div *ngIf="false" class="ui-g" id="optional">
                <div class="ui-g-5">
                    <hr>
                </div>
                <div class="ui-g-2">
                    <h4>OR</h4></div>
                <div class="ui-g-5">
                    <hr>
                </div>
                <button id="google" [disabled]="true" pButton type="button" icon="fa-google" label="Login with Google"></button>
                <br>
                <button id="facebook" [disabled]="true" pButton type="button" icon="fa-facebook" label="Login with Facebook"></button>
            </div>
        </div>
    </ng-template>
    <ng-template #forgot>
        <div class="ui-g" *ngIf="!verifyForgotToggle">
            <div class="ui-g-12 text-center">
                <br>
                <h2>Forgot Password</h2>
            </div>
            <div class="ui-g-12 ui-sm-12 verify">
                <h5>Please Enter Registered Email Address</h5>
                <input #forgot="ngModel" maxlength="31" [(ngModel)]="registeredEmail" pInputText placeholder="Email Address" pattern="^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$" required>
                <p class="error" [hidden]="forgot.untouched" *ngIf="forgot.errors && forgot.errors.pattern">Invalid Email Address</p>
            </div>
            <div class="ui-g-12 ui-sm-12 verify">
                <h5>Send OTP on </h5>
                <p-checkbox id="gap" value="verify_mobile" [disabled]="forgot.errors" [(ngModel)]="mode" label="Mobile"></p-checkbox>
                <p-checkbox value="verify_email" [disabled]="forgot.errors" [(ngModel)]="mode" label="Email"></p-checkbox>
                <br>
                <br>
            </div>
            <div class="ui-g-12 ui-sm-12 text-center">
                <button [disabled]="forgot.errors||mode==''||mode==null||spinner||spinner2" *ngIf="!(spinner||spinner2)" (click)="setWrapper(false,'selective',true);sendOtp()" type="button" pButton label="Submit" class="ui-button-success"></button>
                <button *ngIf="spinner||spinner2" type="button" pButton class="ui-button-success loaderbtn" icon="fa fa-circle-o-notch fa-spin fa-forward"></button>
                <br>
            </div>
            <div class="ui-g-12 empty"></div>
        </div>
        <div class="ui-g" *ngIf="verifyForgotToggle">
            <div class="ui-g-12 text-center">
                <br>
                <h2 *ngIf="!disappear">Verification</h2>
                <h2 *ngIf="disappear">Reset Password</h2>
            </div>
            <!-- <div class="ui-g-12 ui-sm-12 aligned" *ngIf="mode[0]=='verify_mobile'||mode[1]=='verify_mobile'"> -->
            <div class="ui-g-12 ui-sm-12 aligned" *ngIf="(mode[0]=='verify_mobile'||mode[1]=='verify_mobile')&&!disappear">
                <h5>Enter OTP Sent On <strong>{{registeredMobile}}</strong></h5>
                <p-inputMask [style]="{'width':'150px'}" slotChar=" " unmask="true" mask="999-999" placeholder="Enter OTP" [disabled]="mobileVerified" [(ngModel)]="mobileOtp"></p-inputMask>
                <button pButton class="ui-button-success" *ngIf="modeStr!='forgotVerifyMobile'||!spinner" [disabled]="mobileVerified||mobileOtp==null||mobileOtp==''||spinner||spinner2||otpPattern()[0]" (click)="setWrapper(true,'forgotMobile');verifyOtp();spinnerCondition('forgotVerifyMobile')" label="Verify"></button>
                <button pButton *ngIf="modeStr=='forgotVerifyMobile'&&spinner" style="width:55px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>
                <button pButton *ngIf="modeStr=='forgotResendMobile'&&spinner" style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>
                <button pButton *ngIf="modeStr!='forgotResendMobile'||!spinner" [disabled]="mobileVerified||spinner||spinner2" (click)="setWrapper(true,'forgotMobile',true);sendOtp();spinnerCondition('forgotResendMobile')" class="ui-button-info" label="Resend" style="width:70px"></button>
                <!-- <p class="success" *ngIf="mobileVerified">You can change your password below</p> -->
            </div>
            <div class="ui-g-12 text-center" *ngIf="(mode[0]=='verify_mobile'||mode[1]=='verify_mobile')&&(mode[0]=='verify_email'||mode[1]=='verify_email')&&!disappear">
                <h4>OR</h4></div>
            <!-- <div class="ui-g-12 ui-sm-12 aligned" *ngIf="mode[0]=='verify_email'||mode[1]=='verify_email'"> -->
            <div class="ui-g-12 ui-sm-12 aligned" *ngIf="(mode[0]=='verify_email'||mode[1]=='verify_email')&&!disappear">
                <h5>Enter OTP Sent On <strong>{{registeredEmail}}</strong></h5>
                <p-inputMask [style]="{'width':'150px'}" slotChar=" " unmask="true" placeholder="Enter OTP" mask="999-999" [disabled]="emailVerified" [(ngModel)]="emailOtp"></p-inputMask>
                <button *ngIf="modeStr!='forgotVerifyEmail'||!spinner2" pButton [disabled]="emailVerified||emailOtp==null||emailOtp==''||spinner||spinner2||otpPattern()[1]" class="ui-button-success" (click)="setWrapper(true,'forgotEmail');verifyOtp();spinnerCondition('forgotVerifyEmail')" label="Verify"></button>
                <button *ngIf="modeStr=='forgotVerifyEmail'&&spinner2" pButton style="width:55px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>
                <button *ngIf="modeStr=='forgotResendEmail'&&spinner2" pButton style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>
                <button *ngIf="modeStr!='forgotResendEmail'||!spinner2" [disabled]="emailVerified||spinner2||spinner" (click)="setWrapper(true,'forgotEmail',true);sendOtp();spinnerCondition('forgotResendEmail')" pButton class="ui-button-info" label="Resend" style="width:70px"></button>
                <!-- <p class="success" *ngIf="emailVerified">You can change your password below</p> -->
            </div>
            <div class="ui-g-12 empty" *ngIf="!(emailVerified||mobileVerified)"></div>
            <div class="ui-g-12 text-center aligned" *ngIf="emailVerified||mobileVerified">
                <input pPassword promptLabel="Atleast 6 Characters With No Spaces" #newpassword=ngModel type="password" name="newpassword" id="med1" [(ngModel)]="passwordObj.new_password" placeholder="Enter New Password" pattern="^[^\s]{6,}">
                <p [hidden]="newpassword.untouched" *ngIf="newpassword.errors&&newpassword.errors.pattern" class="error">Password must have atleast 6 characters</p>
                <br>
                <input pInputText id="med2" type="password" [(ngModel)]="dummyPassword" placeholder="Confirm Password">
                <p [hidden]="newpassword.untouched" *ngIf="passwordObj.new_password!=dummyPassword" class="error">Password doesn't match</p>
                <br>
                <button pButton *ngIf="!spinner3" type="button" [disabled]="newpassword.errors||passwordObj.new_password!=dummyPassword||spinner3||newpassword.errors" label="Save" (click)="changePassword()" class="ui-button-success"></button>
                <button pButton *ngIf="spinner3" icon="fa fa-circle-o-notch fa-spin fa-forward" style="width:50px" type="button" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
    <ng-template #reg>
        <div class="form">
            <h2>Create an account</h2>
            <div class="ui-g">
                <div class="ui-g-6 ui-sm-6">
                    <!--FirstName Validator -->
                    <input type="text" maxlength="30" name="firstname" #firstname="ngModel" [(ngModel)]="userRegCreds.firstname" pInputText placeholder="Firstname" pattern="^[a-zA-Z]+" />
                    <p class="error" [hidden]="firstname.untouched" *ngIf="firstname.errors && firstname.errors.pattern">
                        Invalid Firstname
                    </p>
                </div>
                <div class="ui-g-6 ui-sm-6">
                    <!--LastName Validator -->
                    <input type="text" maxlength="30" name="lastname" #lastname="ngModel" [(ngModel)]="userRegCreds.lastname" pInputText placeholder="Lastname" pattern="^[a-zA-Z]+" />
                    <p class="error" [hidden]="lastname.untouched" *ngIf="lastname.errors && lastname.errors.pattern">
                        Invalid Lastname
                    </p>
                </div>
                <div class="ui-g-6 ui-sm-6">
                    <!--Email Validators -->
                    <input type="text" maxlength="31" name="regEmail" #regEmail="ngModel" [(ngModel)]="userRegCreds.email" pInputText placeholder="Email" pattern="^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$" />
                    <p class="error" [hidden]="regEmail.untouched" *ngIf="regEmail.errors && regEmail.errors.pattern">
                        Invalid Email Id
                    </p>
                </div>
                <div class="ui-g-6 ui-sm-6">
                    <!--Mobile Validator -->
                    <input name="number" placeholder="Mobile Number" #number="ngModel" pattern="^[7-9]{1}[0-9]{9}" [(ngModel)]="userRegCreds.mobile" pInputText type="number">
                    <p class="error" [hidden]="number.untouched" *ngIf="number.errors && number.errors.pattern">
                        Invalid Mobile Number
                    </p>
                </div>
                <div class="ui-g-6 ui-sm-6">
                    <!--Password validator-->
                    <input type="password" name="pass" pPassword [feedback]="true" promptLabel="Atleast 6 Characters With No Spaces" indicator="false" #pass="ngModel" [(ngModel)]="userRegCreds.password" placeholder="Password" pattern="^[^\s]{6,}" />
                    <p class="error" [hidden]="pass.untouched" *ngIf="pass.errors && pass.errors.pattern">Password
                        Must Have Atleast 6 Characters
                    </p>
                </div>
                <div class="ui-g-6 ui-sm-6">
                    <!--Password validator(confirm password)-->
                    <input type="password" name="regPassword1" #regPassword="ngModel" [(ngModel)]="confirmPassword" placeholder="Confirm Password" pattern="^[^\s]{6,}" />
                    <p [hidden]="regPassword.untouched" *ngIf="confirmPassword!=userRegCreds.password" class="error">Password doesn't match</p>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <p-dropdown scrollHeight="120px" [style]="{'width':'195px'}" [options]="dummyClass" [(ngModel)]="userRegCreds.class"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <p-dropdown scrollHeight="120px" [style]="{'width':'195px'}" [options]="dummyGender" [(ngModel)]="userRegCreds.gender"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-sm-12">
                    <p-captcha #captcha siteKey="6LfVJUUUAAAAAGWXhy14h_D8Iw4AydIVKwhObjKb" (onResponse)="showResponse($event)"></p-captcha>
                </div>
                <div class="ui-g-12 ui-sm-12 text-center">
                    <button id="reg" type="button" *ngIf="!spinner" pButton label="Register" [disabled]="regEmail.errors ||spinner ||firstname.errors
                    || lastname.errors || pass.errors || number.errors
                    || userRegCreds.mobile==''||userRegCreds.mobile==null ||userRegCreds.password==''
                    || userRegCreds.firstname=='' || userRegCreds.lastname=='' || userRegCreds.email==''
                    || userRegCreds.class==''||userRegCreds.class==null || userRegCreds.password==''
                    || confirmPassword=='' || confirmPassword!=userRegCreds.password||userRegCreds.gender==null||userRegCreds.gender==''||!isHuman" (click)="signUp()"></button>
                    <button id="reg" pButton icon="fa fa-circle-o-notch fa-spin fa-forward" type="button" *ngIf="spinner"></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #verify>
        <div class="ui-g">
            <div class="ui-g-12 text-center">
                <br>
                <h2>Verification</h2>
            </div>
            <div class="ui-g verify">
                <div class="ui-g-12">
                    <p>Enter OTP Sent On <strong>{{userRegCreds.mobile}}</strong></p>
                    <span class="to-right"><p-inputMask slotChar=" " unmask="true" mask="999-999" placeholder="Enter OTP" [disabled]="mobileVerified" [(ngModel)]="mobileOtp"></p-inputMask></span>
                    <button pButton *ngIf="modeStr=='forgotVerifyMobile'&&spinner" style="width:60px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>
                    <button pButton *ngIf="modeStr!='forgotVerifyMobile'||!spinner" class="ui-button-success" [disabled]="mobileVerified||spinner||spinner2||otpPattern()[0]" (click)="setWrapper(true,'mobile');verifyOtp();spinnerCondition('forgotVerifyMobile')" label="Verify"></button>
                    <button pButton *ngIf="modeStr=='forgotResendMobile'&&spinner" style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>
                    <button pButton *ngIf="modeStr!='forgotResendMobile'||!spinner" [disabled]="mobileVerified||spinner||spinner2" (click)="setWrapper(true,'mobile');sendOtp();spinnerCondition('forgotResendMobile')" class="ui-button-info" label="Resend" style="width:70px"></button>
                    <p class="success" *ngIf="mobileVerified">Mobile number verified.</p>
                </div>
                <div class="ui-g-12"><br>Please Click On The Link Sent on <strong>{{userRegCreds.email}}</strong> To Verify Your Email.</div>
                <div class="ui-g-12" *ngIf="false">
                    <p>Enter OTP Sent On <strong>{{userRegCreds.email}}</strong></p>
                    <span class="to-right">
                        <p-inputMask slotChar=" " unmask="true" placeholder="Enter OTP" mask="999-999" [disabled]="emailVerified" [(ngModel)]="emailOtp"></p-inputMask>
                    </span>
                    <button *ngIf="modeStr=='forgotVerifyEmail'&&spinner2" pButton style="width:60px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>
                    <button pButton *ngIf="modeStr!='forgotVerifyEmail'||!spinner2" [disabled]="emailVerified||spinner2||spinner||otpPattern()[1]" class="ui-button-success" (click)="setWrapper(true,'email');verifyOtp();spinnerCondition('forgotVerifyEmail')" label="Verify"></button>
                    <button *ngIf="modeStr=='forgotResendEmail'&&spinner2" pButton style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>
                    <button *ngIf="modeStr!='forgotResendEmail'||!spinner2" [disabled]="emailVerified||spinner2||spinner" (click)="setWrapper(true,'email');sendOtp();spinnerCondition('forgotResendEmail')" pButton class="ui-button-info" label="Resend" style="width:70px"></button>
                    <p class="success" *ngIf="emailVerified">Email address verified</p>
                </div>
                <div class="flip">
                    <button id="wide-btn" (click)="skip()" pButton label="Skip Verification"></button>
                </div>
                <!--                 <div class="ui-g-6 ui-sm-12">
                    Enter OTP sent on {{userRegCreds.mobile}}
                    <br>
                    <p-inputMask slotChar=" " unmask="true" mask="999-999" placeholder="Enter OTP" [disabled]="mobileVerified" [(ngModel)]="mobileOtp"></p-inputMask>
                    <p class="success" *ngIf="mobileVerified">Mobile number verified.</p>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <br>
                    <button pButton *ngIf="modeStr=='forgotVerifyMobile'&&spinner" style="width:60px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>

                    <button pButton *ngIf="modeStr!='forgotVerifyMobile'||!spinner" class="ui-button-success" [disabled]="mobileVerified||spinner||spinner2" (click)="setWrapper(true,'mobile');verifyOtp();spinnerCondition('forgotVerifyMobile')" label="Verify"></button>
                
                    <button pButton *ngIf="modeStr=='forgotResendMobile'&&spinner" style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>

                    <button pButton *ngIf="modeStr!='forgotResendMobile'||!spinner" [disabled]="mobileVerified||spinner||spinner2" (click)="setWrapper(true,'mobile');sendOtp();spinnerCondition('forgotResendMobile')" class="ui-button-info" label="Send" style="width:70px"></button>

                </div>
                <div class="ui-g-6 ui-sm-12">
                    Enter OTP sent on {{userRegCreds.email}}
                    <br>
                    <p-inputMask slotChar=" " unmask="true" placeholder="Enter OTP" mask="999-999" [disabled]="emailVerified" [(ngModel)]="emailOtp"></p-inputMask>
                    <p class="success" *ngIf="emailVerified">Email address verified</p>
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <br>
                    <button *ngIf="modeStr=='forgotVerifyEmail'&&spinner2" pButton style="width:60px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-success"></button>
                    
                    <button pButton *ngIf="modeStr!='forgotVerifyEmail'||!spinner2" [disabled]="emailVerified||spinner2||spinner" class="ui-button-success" (click)="setWrapper(true,'email');verifyOtp();spinnerCondition('forgotVerifyEmail')" label="Verify"></button>
                
                    <button *ngIf="modeStr=='forgotResendEmail'&&spinner2" pButton style="width:70px" icon="fa fa-circle-o-notch fa-spin fa-forward" class="ui-button-info"></button>

                    <button *ngIf="modeStr!='forgotResendEmail'||!spinner2" [disabled]="emailVerified||spinner2||spinner" (click)="setWrapper(true,'email');sendOtp();spinnerCondition('forgotResendEmail')" pButton class="ui-button-info" label="Send" style="width:70px"></button>
                </div> -->
            </div>
        </div>
    </ng-template>
</div>