.to-right{
    margin-right: 2%;
}
.container {
    height: auto;
    width: auto;
    color: #666666;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

.loaderbtn{
    width:65px;
}

.logo {
    padding: 10px 0;
    text-align: center;
    height:100px;
    letter-spacing: 2px;
}

#oblogo1:hover {
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
    -webkit-animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    25% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounce {
    25% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0);
    }
}



/* Form Module */

.form-module {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #24346d;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #24346d;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.register .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #24346d;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.form-module .form {
    display: none;
    padding: 40px;
}

.form-module .form:nth-child(2) {
    display: block;
}

.form-module h2 {
    margin: 0 0 20px;
    color: #24346d;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 4px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form button {
    // background-color: #24346d;
    width: 240px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#lostpassword {
    padding-left: 0px;
    margin-top:8px;
}

#google {
    background-color: #DC4E42;
}

#facebook {
    background-color: #3B5999;
}

.footer {
    position: fixed;
    bottom: 0;left:0;
    font-size:12px;
    color: #24346d;
    background-color:#fff;
}

.register {
    text-align: center;
    background: #ffffff;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    min-height: 450px;
    max-height: auto;
}

.register .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #2D4;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

#otpbtn button {
    border: none;
    background-color: #DC4E42;
    margin-left: opx;
    text-align: left;
    width: 85px;
    height: 42px;
}

#dialog {
    text-align: center;
}

.otpfield,
.btngrp {
    padding-left: 20%;
    margin-top: 5%
}



#reg {
    width: 197px;
    background-color: #3a83c4;
    color:#ffffff;
}

.withinput {
    margin-left: 2%;
}

.verify {
    text-align: left;
    padding-left: 10%;
    height: auto;
}

.verify input {
    width: 200px;
    height: 32px;
}

.success {
    color: #2BBF61;
    text-align: left;
}
.ui-button.ui-button-info.ui-state-default{background-color:#24346d;}
.ui-button.ui-button-success.ui-state-default{background-color:#3a83c4;}
.error {
font-size:13px;
    text-align: left;
    margin-top: 0px;
    color: #F44336;
}

.aligned {
    padding-left: 20px;
}

.empty {
    height: 85px;
}
#lostpassword a{font-size:12px;}
#lostpassword a:hover {
    cursor: pointer;
    text-decoration: none;
}

#gap {
    margin-right: 8%;
}

#med1,
#med2 {
    width: 95%;
    height: 22%;
    margin-bottom: 4px;
}

.fadeInOut{-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;}

@media only screen and (max-width: 420px) {
    .register {
        height: auto;
    }
    .footer {
        padding-left: 0;
    }
    #logbtn {
        width: 20px;
    }
    .form-module .form {
    padding: 30px 7px;
}
}

.flip{
    margin-left: 23%;
    margin-top: 20%;
}

#wide-btn{
    width:150%;
}