<div class="ui-g">
    <div class="ui-g-12" *ngIf="!subjectInfo.subscribedSubjects['Computer/Cyber']">
        <p-panel header="Subscribe">
            <div style="text-align:center">
                <h1>No Test Available</h1>
                <br>
                <button id="subscribe" (click)="redirect()" pButton type="text" class="ui-button-warning" label="Subscribe Now"></button>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <p-panel header="Introduction">
            <div id="intro">
                <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    <p>
                        <br>
                        <br>
                        <br>
                        <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            <p>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <p-panel header="Progress">
            <p-chart type="doughnut" [data]="sampleTestData"></p-chart>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <p-panel>
            <p-header>Sample Test
                <p-dropdown id="dropdown" [disabled]="true" [options]="examPattern"></p-dropdown>
            </p-header>
            <div class="ui-g">
                <div class="ui-g-6 ui-sm-12" *ngFor="let test of testData|keys">
                    <span class="long">{{test.key}}</span>
                    <button type="submit" class="ui-button-success rightgap" pButton [ngClass]="{'ui-button-warning':test.value=='Resume', 'ui-button-danger':test.value=='Start'}" label="{{test.value}}"></button>
                    <button pButton type="button" style="width:40px;" pTooltip="Retake {{test.key}}" tooltipPosition="bottom" icon="fa fa-refresh fa-spin fa-fw" *ngIf="!(test.value=='Start'||test.value=='Resume')"></button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <p-panel>
            <p-header>Syllabus</p-header>
            <p-accordion>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-accordionTab *ngFor="let data of subjectInfo.computerChapters['chapters']">
                            <p-header><span class="chapter"> {{data.name}} </span> </p-header>
                            <div class="ui-g">
                                <div class="ui-g-12" *ngFor="let topic of data['topics']">
                                    <span class="leftpad">{{topic.name}}<br></span>
                                </div>
                            </div>
                        </p-accordionTab>
                    </div>
                </div>
            </p-accordion>
        </p-panel>
    </div>
</div>