#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#subscribe{
    margin-right:2%;
    width:200px;
    background-color:#1D8ECD;
    border: none; 
}

#dropdown{
    margin-left: 50%;
    height:auto;
}

.sample button{
    width:70px;
    margin-right: 8%;
}

.test{
    margin-right:22%;
}

.textcenter{
    padding-left:20%;
}


.chapter{
    font-size: 17px;
}

.leftpad{
    padding-left: 5%;
}

.rightgap{
    width:70px;
    margin-right: 4px;
}

.long{
    display: inline-block;
    width:111px;
}