<div class="ui-g">
  <div class="ui-g-12" *ngIf="!subscribed">
    <p-panel header="Subscribe">
      <div style="text-align:center">
        <h1>No Test Available</h1><br>
        <button id="subscribe" pButton type="text" class="ui-button-warning" label="Subscribe Now"></button>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel header="Introduction">
      <div id="intro">
        <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
           scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
           , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
           scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
           , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel header="Progress">
      <p-chart type="doughnut" [data]="sampleTestData"></p-chart>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel><p-header>Sample Test<p-dropdown id="dropdown" [options]="examPattern"></p-dropdown></p-header>
      <div id="sampletestpanel" class="ui-g">
        <div class="ui-g-12" *ngFor="let test of testData|keys">
          {{test.key}}<button type="submit" pButton ngClass="ui-button-warning" label="{{test.value}}"></button><br><br>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel><p-header>Syllabus</p-header>
      <div class="ui-g">
        <div class=ui-g-6>
        <p-accordion>
          <p-accordionTab *ngFor="let i of chapterNames" header={{i}}></p-accordionTab>
        </p-accordion>
        </div>
      </div>
    </p-panel>

  </div>



</div>









