
<div class="ui-g-12">
  <p-panel header="Subscription Details">
    <p-dataTable [value]="data">
    <p-column field="oid1" header="Order ID"></p-column>
    <p-column field="acs" header="Subject"></p-column>
    <p-column field="sadas" header="Subscription Date"></p-column>
    <p-column field="asdasdw" header="Valid Till"></p-column>
  </p-dataTable>
  </p-panel>
</div>

<div class="ui-g-12">
  <p-panel header="Subscribe Now">
    <div class="ui-g">
      <div class="ui-g-6">
        <div class="ui-g-12"><p-checkbox label="COMPUTER/CYBER"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox label="SCIENCE"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox label="MATHEMATICS"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox label="GENERAL KNOWLEDGE"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox label="ENGLISH"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox label="REASONING"></p-checkbox></div> 
      </div>
      <div class="ui-g-6">
      </div>
    </div>
    <span style="margin:30px"><strong>Enter Coupon/School Code*</strong></span><input style ="margin:30px" id="in" type="text" size="40"/><button type="button" pButton label="PAY NOW"></button>

  </p-panel>
</div>

