
.spin1{
    margin-left: 63%;
}

.dark, .light, .blue{
    margin-left: 1%;
        display: inline-block;
    color: white;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
}

.dark{
    background-color: #5A5955;
}

.light{
    background-color: #A4A5AA;
}

.blue{
    background-color: #4F1B4C;
}

.white-text{
    color:white;
}

.round{
    display: inline-block;
    text-align: center;
    color: white;
    width:30px;
    height:30px;
    line-height: 2.2;
    border-radius: 50%;
    background-color: #429BDD;
    
}


#inlinebutton {
    border: transparent;
    background-color: #1D8ECD;
    text-align: center;
    float: right;
}

#testdetailspanel {
    text-align: center
}

#subscribepanel {
    text-align: center;
}

.testnumber {
    padding-left: 5%;
}

.testnumber button {
    margin-bottom: 2%;
}

.chapter {
    font-size: 17px;
    font-weight: normal;
}

.leftpad {
    padding-left: 5%;
    margin-right: 2%;
}

.low button {
    width: 70px;
    margin-right: 4px;
}

i:hover {
    cursor: pointer;
    color: brown;
}

.toright {
    padding-left: 25%;
}

.table td,th{
    text-align: center;
    border:none;
}

.table {
    border:none;
}




.toggle {
    margin-bottom: 2%;
}

.withradio a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    font-size: 17px;
}

.withradio a:visited {
    text-decoration: none;
}

.withradio a {
    margin-left: 3%;
}