<p-growl [(value)]="generateMsg"></p-growl>
<div class="fluid">
    <div class="ui-g">
        <div class="ui-g-12" *ngIf="!subjectInfo.subscribedSubjects['Science']">
            <p-panel header="Subscribe">
                <div class="ui-g">
                    <div class="ui-g-12 text-center">
                        <h1>No Test Available</h1>
                        <br>
                        <button pButton (click)="redirect()" type="text" class="ui-button-info" label="Subscribe Now"></button>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-6 ui-sm-12 ui-lg-6">
            <p-panel header="Introduction">
                <div id="intro">
                    <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <p>
                            <br>
                            <br>
                            <br>
                            <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <p>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-6 ui-sm-12 ui-lg-6">
            <p-panel header="Progress">
                <p-chart type="doughnut" [data]="chapterwiseTestData"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-6 ui-sm-12 ui-lg-6">
            <p-panel>
                <p-header>
                    Chapterwise Test & Syllabus<span class="toright"></span>
                    <button *ngIf="!spinner" [disabled]="generatedFlag" (click)="generate()" id="inlinebutton" pButton type="text" class="ui-button-success" label="Generate"></button>
                    <button *ngIf="spinner" style="width:82px" [disabled]="false" id="inlinebutton" pButton type="text" class="ui-button-success" icon="fa fa-circle-o-notch fa-spin fa-forward fa-lg"></button>
                </p-header>
                <p-accordion (onOpen)="tabOpen($event)" (onClose)="tabClose($event)">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p-accordionTab *ngFor="let data of subjectInfo.scienceChapters['chapters']">
                                <p-header>
                                    <span class="chapter">{{data.name}}</span>
                                </p-header>
                                <div class="ui-g">
                                    <div class="ui-g-12" *ngFor="let topic of data['topics']">
                                        <span class="">{{topic.name}}<br></span>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </div>
                </p-accordion>
                <p-growl [(value)]="generateMsg" [life]="3000"></p-growl>
            </p-panel>
        </div>
        <!--<div class="ui-g-6">
       <p-panel header="Generated">
            <p-accordion>
              <div class="ui-g">
                <div class="ui-g-12">
                  <p-accordionTab  *ngFor="let data of result.chapterwiseTestDetails|keys">
                    <p-header><span class="chapter">{{data.key}}</span></p-header>
                    <div class="ui-g">
                      <div class="ui-g-12"  *ngFor="let test of data.value|keys">
                        <span class="leftpad">{{test.key}}</span>
                        <span class="low"><button label="{{test.value}}" [ngClass]="{'ui-button-success':test.value!='Resume'||test.value!='Start', 'ui-button-danger':test.value=='Start', 'ui-button-warning':test.value=='Resume'}" type="button" pButton></button><button pButton type="button" style="width:40px;" pTooltip="Retake {{test.key}}" tooltipPosition="right" icon="fa fa-refresh fa-spin fa-fw" *ngIf=" !(test.value=='Start'|| test.value=='Resume') "></button></span>
                      </div>
                    </div>
                  </p-accordionTab>
                </div>
              </div>
            </p-accordion>
      </p-panel>
    </div>-->
        <div class="ui-g-6 ui-sm-12">
            <p-panel header="Generated">
                <p-accordion (onOpen)="onTabOpen($event)" (onClose)="currentTabIndex=null">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p-accordionTab *ngFor="let data of generatedChapters; let k=index">
                                <p-header>
                                    <div class="ui-g">
                                        <div [ngClass]="{'ui-g-9':currentTabIndex!=null,'ui-g-12':currentTabIndex==null}">
                                            <span class="chapter">{{data?.name}}</span>
                                        </div>
                                        <div class="ui-g-3" *ngIf="currentTabIndex==k">
                                            <span class="chapter white-text">Completed</span>
                                        </div>
                                    </div>
                                </p-header>
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-sm-12" *ngFor="let test of data['tests'];let i = index">
                                        <span class="leftpad">Test <span [ngClass]="shade(i)">{{i+1}}</span></span>
                                        <!-- <span *ngIf="test.attempted==0&&test.completed==0" class="low">
                                            <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,data.id,test.attempted,test.completed)" label="Start" [disabled]="spinner2!=null" type="button" pButton></button>
                                            <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward fa-lg" [disabled]="false" type="button" pButton></button>
                                        </span> -->

                                        <span *ngIf="test.attempted==0" class="low">
                                            <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,data.id,test.attempted,test.completed)" label="Start" [disabled]="spinner2!=null" type="button" pButton></button>
                                            <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward fa-lg" [disabled]="false" type="button" pButton></button>
                                        </span>

                                        <span *ngIf="test.completed==1" class="low">
                                            <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,data.id,test.attempted,test.completed)" label="Start" [disabled]="spinner2!=null||test.attempted>=3" type="button" pButton></button>
                                            <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward fa-lg" type="button" pButton></button>
                                        </span>

                                        <span *ngIf="test.completed==0&&test.attempted!=0" class="low">
                                            <button *ngIf="spinner2!=test.id" class="ui-button-warning" (click)="startTest(test.id,data.id,test.attempted,test.completed)" label="Resume" [disabled]="spinner2!=null" type="button" pButton></button>
                                            <button *ngIf="spinner2==test.id" class="ui-button-warning" icon="fa fa-circle-o-notch fa-spin fa-forward fa-lg" type="button" pButton></button>
                                        </span>
                                        <span class="low">
                                            <span class="round" *ngIf="test.attempted==0">0</span>

                                            <span class="round" *ngIf="test.attempted!=0&&test.completed==0">{{test.attempted-1}}</span>
                                            <span class="round" *ngIf="test.attempted!=0&&test.completed==1">{{test.attempted}}</span>
                                        </span>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </div>
                </p-accordion>
            </p-panel>
        </div>
    </div>
</div>