<p-dialog header="Change Profile Picture" [height]="200" [width]="500" [(visible)]="changeImg">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-fileUpload name="profileImage[]" url="http://localhost:3000/upload" accept="image/*" previewWidth="200" maxFileSize="3000000">
            </p-fileUpload>
        </div>
    </div>
</p-dialog>
<div #layoutWrapper class="layout-wrapper" [ngClass]="{'menu-layout-static': !isOverlay(),
        'menu-layout-overlay': isOverlay(),
        'layout-menu-overlay-active': overlayMenuActive,
        'menu-layout-horizontal': isHorizontal(),
        'layout-menu-static-inactive': staticMenuDesktopInactive,
        'layout-menu-static-active': staticMenuMobileActive}">

    <app-topbar></app-topbar>
    <div>
        <app-overlay></app-overlay>
    </div>
    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <div #layoutMenuScroller class="nano">
            <div class="nano-content menu-scroll-content">
                <!--<div *ngIf="!loader" class="menuloader"><app-loader></app-loader></div>-->
                <div class="ui-g">
                    <div class="ui-g-12 ui-g-nopad"> <!-- *ngIf="loader"-->
                        <img class="img-responsive" src="../../assets/layout/images/Profile_picture.png">
                    </div>
                </div>
                <div style="padding-left:20px;color:white">
                    <div class="wrapper"><!--*ngIf="loader"-->
                        <h5>{{name}}</h5>
                        <h5>Class {{class}}</h5>
                        <h5 pTooltip="{{email}}" tooltipPosition="bottom">{{shownEmail}}</h5>
                        <i pTooltip="Change Profile Picture" tooltipPosition="bottom" class="fa fa-edit" (click)="changeImg=true"></i>
                    </div>
                </div>
                <hr>                
                <app-menu [reset]="resetMenu"></app-menu>
                <div class="layout-menu-footer"></div>
            </div>
        </div>
    </div>
    

    <div class="layout-main">
        <div class="layout-main-content">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
    
    <div class="layout-mask"></div>

</div>
