<div class="ui-g">
  <div class="ui-g-6">
    <p-panel header="Introduction">
      <div>
        <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
           scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
           , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Progress">
      <div>
        <p-chart type="doughnut" [data]="data"></p-chart>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Syllabus & Demo Test">
      <div>
        <p-accordion>
          <p-accordionTab header="Chapter 1">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 2">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 3">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 4">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 5">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 6">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 7">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 8">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 9">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Chapter 10">
            <ul>
              <li>TOPIC 1</li>
              <li>TOPIC 2</li>
              <li>TOPIC 3</li>
              <li>TOPIC 4</li>
              <li>TOPIC 5</li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel header="Demo Test">
      <div>
        <button pButton type="button" label="TAKE DEMO TEST" class="ui-button-info"></button>
      </div>
    </p-panel>
  </div>
</div>