
#cyber,#science,#math,#gk,#english,#reasoning{
    height:150px;
    width: 200px;
    text-align: center;
    border: solid 1px black;
    padding-bottom: 150px;
}

img {
    width:30px;
    height:30px;
}

#cyber{
    background-color: #5CB85C;
    margin: 12px 12px 12px 12px;
}

#science{
    background-color: #B54352;
    margin: 12px 12px 12px 0;
}

#math{
    background-color: salmon;
    margin: 12px 12px 12px 0;
}

#gk{
    background-color: #B378D3;
    margin: 12px 12px 12px 12px;
}

#english{
    background-color:#FFFF00;
    margin: 12px 12px 12px 0;
}

#reasoning{
    background-color: coral;
    margin: 12px 12px 12px 0;
}

#notice{    
    height: 385px;
    overflow: auto;
    overflow-x: hidden;
    
}

.alert{
    background-color: white;
    border: solid 1px;
    border-radius: 0px;
}


.testimonial{
    border: solid 1px;
    margin-bottom: 15px;
}

.time{
    font-style: italic;
    float:right;
}



#reviews{
    height:200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.testimonial.image{
    width:200px;
    height:200px;
}
#image{
    height:200px;
    width:200px;
}

