<div class="ui-g dashboard">            
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        
            <p-panel header="Subject Summary">
                <div class="ui-g">
                    <div id="cyber" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/cyber.png"><br>
                        <p>COMPUTER/CYBER</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>

                    <div id="science" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/science.png"><br>
                        <p>SCIENCE</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>

                    <div id="math" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/maths.png"><br>
                        <p>MATHEMATICS</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>
                </div>
            
                <div class="ui-g">
                    <div id="gk" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/gk.png"><br>
                        <p>GENERAL KNOWLEDGE</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>

                    <div id="english" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/english.png"><br>
                        <p> ENGLISH</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>

                    <div id="reasoning" class="ui-g-4">
                        <br>
                        <img src="../../../assets/layout/images/dashboard/subject summary/reasoning.png"><br>
                        <p>REASONING</p><br>
                        <button pButton type="text" label="Demo"></button>
                        <button pButton type="text" label="Subscribe"></button>
                    </div>
                </div>

            
            </p-panel><br><br><br>

            <p-panel header="Test Summary">
                    <p-tabView>
                         <p-tabPanel header="Chapterwise Test">
                         Content 1
                        </p-tabPanel>
                        <p-tabPanel header="Sample Test">
                         Content 2
                        </p-tabPanel>
                        <p-tabPanel header="Mock Test">
                         Content 3    
                        </p-tabPanel>
                        <p-tabPanel header="Demo Test">
                         Content 4

                        </p-tabPanel>
                    </p-tabView>
            </p-panel><br><br><br>
                

            <p-panel header="Result Summary">
                    <p-tabView>
                        <p-tabPanel header="Chapterwise Test">
                         Content 1
                        </p-tabPanel>
                        <p-tabPanel header="Sample Test">
                         Content 2
                        </p-tabPanel>
                        <p-tabPanel header="Mock Test">
                         Content 3    
                        </p-tabPanel>
                        <p-tabPanel header="Demo Test">
                         Content 4
                         </p-tabPanel>
                    </p-tabView>
            </p-panel>
                
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <p-panel header="Notice Board">
            <p-panel header="Notice 1">The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
                His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
                Through Michael's life the nature of the family business becomes clear. 
            </p-panel>
        </p-panel>
    </div>

</div>
