<div class="ui-g">
  <!--  <div class="ui-g-12" *ngIf="!subjectInfo.subscribedSubjects['Computers']">
        <p-panel header="Subscribe">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <h1>No Test Available</h1>
                    <br>
                    <button pButton (click)="redirect()" type="text" class="ui-button-info" label="Subscribe Now"></button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="info-side-box">
            <div><button class="btn ui-button-info" data-toggle="modal" data-target="#introModel"><span><i class="fa fa-exclamation-circle"></i></span></button></div>
            <div><button class="btn ui-button-info" data-toggle="modal" data-target="#progressModal"><span><i class="fa fa-pie-chart"></i></span></button></div>
        </div>
<div class="modal fade" id="introModel" tabindex="-1" role="dialog" aria-labelledby="introModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <p-panel header="Introduction">
            <div id="intro" [MathJax]="lang.testIntro.sampleTest"></div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <p-panel header="Progress">
            <p-chart type="doughnut" [data]="sampleTestData"></p-chart>
        </p-panel>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="ui-g-6 ui-sm-12">
        <p-panel>
            <p-header>Syllabus</p-header>
            <p-accordion>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-dataTable [value]="patternArray">
                            <p-column [style]="{'border':'1px solid lightgrey','text-align':'center'}" *ngFor="let col of patternCols" [header]="col.header" [field]="col.field"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </p-accordion>
        </p-panel>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <p-panel>
            <p-header>Sample Test
                <p-dropdown id="dropdown" [disabled]="true" [options]="examPattern"></p-dropdown>
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12 ui-sm-12 container" *ngIf="test.computers?.sample_test!=null&&subjectInfo.subscribedSubjects['Computers']">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sample Test</th>
                                    <th>Attempt</th>
                                    <th>Action</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let test of test.computers.sample_test.tests;let k=index">
                                    <td><span [ngClass]="shade(k)">{{k+1}}</span></td>
                                    <td><span class="blue">{{test?.attempted}}</span></td>
                                    <td>
                                        <span *ngIf="test.attempted==0" class="low">
                                    <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,null,test.attempted,test.completed,null,k)" label="Start" [disabled]="spinner2!=null" type="button" pButton></button>
                                    <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward" [disabled]="false" type="button" pButton></button>
                                </span>
                                        <span *ngIf="test.completed==1" class="low">
                                    <button *ngIf="spinner2!=test.id" class="ui-button-danger" (click)="startTest(test.id,null,test.attempted,test.completed,null,k)" label="Start" [disabled]="spinner2!=null||test.attempted>=3" type="button" pButton></button>
                                    <button *ngIf="spinner2==test.id" class="ui-button-danger" icon="fa fa-circle-o-notch fa-spin fa-forward" type="button" pButton></button>
                                </span>
                                        <span *ngIf="test.completed==0&&test.attempted!=0" class="low">
                                    <button *ngIf="spinner2!=test.id" class="ui-button-warning" (click)="startTest(test.id,null,test.attempted,test.completed,null,k)" label="Resume" [disabled]="spinner2!=null" type="button" pButton></button>
                                    <button *ngIf="spinner2==test.id" class="ui-button-warning" icon="fa fa-circle-o-notch fa-spin fa-forward" type="button" pButton></button>
                                </span>
                                    </td>
                                    <td>
                                        <span class="low">
                                    <span class="round" *ngIf="test.attempted==0">0</span>
                                        <span class="round" *ngIf="test.attempted!=0&&test.completed==0">{{test.attempted-1}}</span>
                                        <span class="round" *ngIf="test.attempted!=0&&test.completed==1">{{test.attempted}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui-g-12 ui-sm-12 text-center" *ngIf="!subjectInfo.subscribedSubjects['Computers']">
                    <h4>Please Subscribe To Take Test</h4>
                    <br>
                    <button pButton (click)="redirect()" class="ui-button-info" label="Subscribe"></button>
                </div>
            </div>
        </p-panel>
    </div> -->
Comming soon...
</div>