<p-growl [(value)]="growlMsg"></p-growl>
<p-confirmDialog header="Info" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button class="ui-button-success" pButton [routerLink]="['/account/profile']" label="Go To Profile"></button>
    </p-footer>
</p-confirmDialog>

<div class="fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-panel header="Subscribe Now">
                <br>
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12">
                        <!-- <p-dataTable [value]="misc.fee" dataKey="subject_name" [responsive]="true" [(selection)]="selectedPackage">
                            <p-column [style]="{'width':'5.3%','padding-left':'1.5%'}" selectionMode="multiple"></p-column>
                            <p-column [style]="{'text-align':'left'}" *ngFor="let i of col" header="{{i.header}}" field="{{i.field}}"></p-column>
                        </p-dataTable> -->
                        <p-dataTable (onHeaderCheckboxToggle)="reset()" [value]="misc.fee" emptyMessage="All Subjects Are Subscribed" [(selection)]="selectedPackage" (onHeaderCheckboxToggle)="updateAmount()" (onRowSelect)="updateAmount();reset()" (onRowUnselect)="updateAmount();reset()" dataKey="subject_name" [responsive]="true">
                            <p-column [style]="{'width':'5.3%','padding-left':'1.5%'}" selectionMode="multiple"></p-column>
                            <p-column [style]="{'text-align':'left'}" *ngFor="let i of col" field="{{i.field}}">
                                <ng-template pTemplate="header">
                                    {{i.header}}<span *ngIf="i.header=='Price'"> (&#8377;) </span>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <div class="ui-g-12 ui-sm-12">
                        <div class="ui-g">
                            <div class="ui-g-8 ui-sm-12 dis-coupon">
                                <label>Enter Coupon Code &nbsp;
                                    <input type="text" maxlength="30" placeholder="Coupon Code" [(ngModel)]="coupon" pInputText> &nbsp;
                                </label>
                                <button type="button" *ngIf="!spinner2" style="width:60px" class="ui-button-info" (click)="applyCoupon()" [disabled]="coupon==null||coupon==''||selectedPackage[0]==null" pButton label="Apply"></button>
                                <button style="width:60px" class="ui-button-info" icon="fa fa-circle-o-notch fa-spin fa-forward" *ngIf="spinner2" pButton></button>
                            </div>
                            <div class="ui-g-4 ui-sm-12">
                                <label class="left-margin" *ngIf="!discountApplied">Total Amount: &#x20B9; {{sum}} </label>
                                <label class="left-margin" *ngIf="discountApplied">Amount: &#x20B9; {{sum}} </label>
                                <label class="left-margin" *ngIf="discountApplied">Discount: {{discount}} % ({{appliedCoupon}})</label>
                                <label class="left-margin green-text" *ngIf="discountApplied">Total Amount: &#x20B9;{{discountedAmount}}</label>
                            </div>
                            <div class="ui-g-10 text-right ui-xs-12">
                                <button type="button" *ngIf="!spinner" class="ui-button-success" (click)="pay()" [disabled]="selectedPackage[0]==null" pButton label="Pay Now"></button>
                                <button type="button" *ngIf="spinner" pButton class="ui-button-success fifty" icon="fa fa-circle-o-notch fa-spin fa-forward"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12">
            <p-panel header="Subscription Details">
                <br>
                <br>
                <!--                 <p-dataTable [responsive]="true" [value]="subscriptionTableData">
                    <p-column field="Order ID" header="Order ID"></p-column>
                    <p-column field="Subject" header="Subject"></p-column>
                    <p-column field="Subscription Date" header="Subscription Date"></p-column>
                    <p-column field="Valid Till" header="Valid Till"></p-column>
                    <p-column field="Download Invoice" header="Invoice">
                        <ng-template pTemplate="body">
                            <div class="text-center">
                                <i pTooltip="Download Invoice" tooltipPosition="left" style="color:#BC1900" class="fa fa-file-pdf-o fa-lg"></i>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable> -->
                <p-dataTable alwaysShowPaginator="false" [value]="misc.paymentData" [responsive]="true">
                    <p-column [style]="{'text-align':'left'}" *ngFor="let i of col2" header="{{i.header}}" field="{{i.field}}">
                        <ng-template let-col let-data="rowData" *ngIf="i.header=='Invoice'" header = "Invoice" pTemplate="body">
                                <span (click)="download(data['invoice_url'])" pTooltip="Download Invoice" tooltipPosition="right"><i style="color:#BC1900" class="fa fa-file-pdf-o fa-lg"></i> Download</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <!-- <p><strong>Note: </strong>Password to open invoice pdf is <strong>first 4 letters of your firstname + last four digits of your mobile number</strong></p> -->
                
            </p-panel>
        </div>
    </div>
</div>