#paybutton {
    text-align: center;
}

#coupontext {
    margin-right: 5%;
}

#applybutton {
    margin-left: 2.2%;
    width: 77px;
}

i:hover {
    cursor: pointer;
}

@media only screen and (max-width: 420px){
	#code{width:80%;}
}

.fifty{
	width:75px;
}

.left-margin{
	margin-left:22%;
}