#subscribe{
    width:200px;
    border: none;
    background-color: #1D8ECD;
}

#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#dropdown{
    margin-left: 40%;
    height:auto;
}