.userinfo {
    border-left:solid 4px coral;
    padding-left: 10px;
}

#profileimage{
    text-align: center;
}

#header{
    text-align: center;
     background-image:linear-gradient(white, lightgrey);
    border-radius: 20px;
    margin-bottom: 10px;
}

.userinfo p{
    color: #00ACAC;
}