<div class="ui-g">
  <div class="ui-g-12" id="header">
    <h2> <i class="fa fa-user"></i> Student Profile</h2>  
  </div>
  <div class="ui-g-3" id="profileimage">
    <img src="../../assets/layout/images/Profile_picture.png"><br>
    <h4>Steven Strange</h4>
    <p>Student ID: 847584</p>
  </div>
  <div class="ui-g-9">
    <p-tabView>
      <p-tabPanel header="Basic Info" leftIcon="fa-user-circle">
          <div class="ui-g">
            <div class="ui-g-12"><div class="userinfo"><h4><i class="fa fa-user"></i> Name</h4><p>Steven Strange</p></div></div>
            <div class="ui-g-12"><div class="userinfo"><h4><i class="fa fa-male"></i> Father's Name</h4><p>Dad</p></div></div>
            <div class="ui-g-12"><div class="userinfo"><h4><i class="fa fa-female"></i> Mother's Name</h4><p>Mom</p></div></div>
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-envelope"></i> Email</h4><p>abc@ymail.com</p></div></div>
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-mobile"></i> Mobile</h4><p>9856748374</p></div></div>
          </div>
      </p-tabPanel>
      <p-tabPanel header="Guardian Info" leftIcon="fa-address-card">
          <div class="ui-g">
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-user"></i> Name</h4><p>DAN</p></div></div>
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-group"></i> Relation</h4><p>Dad</p></div></div>
            <div class="ui-g-12"><div class="userinfo"><h4><i class="fa fa-home"></i> Present Address</h4><p>XYZ....... DELHI</p></div></div>
            <div class="ui-g-12"><div class="userinfo"><h4><i class="fa fa-home"></i> Permannent Address</h4><p>xYZ....... DELHI</p></div></div>
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-envelope"></i> Email</h4><p>pqr@gmail.com</p></div></div>
            <div class="ui-g-6"><div class="userinfo"><h4><i class="fa fa-mobile"></i> Mobile</h4><p>8126761662</p></div></div>
          </div>

      </p-tabPanel>
      <p-tabPanel header="Academic Info" leftIcon="fa-graduation-cap">
          <div class="ui-g">
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-th-large"></i> Class</h4><p>Ninth</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-book"></i> Department</h4><p>Science</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-cubes"></i> Section</h4><p>A</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-bell-o"></i> Shift </h4><p>Morning</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-calendar"></i> Session</h4><p>2017-18</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-pencil-square-o"></i> Exam Version</h4><p>English</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-table"></i> Course</h4><p>Mathematics, Science</p></div></div>
            <div class="ui-g-4"><div class="userinfo"><h4><i class="fa fa-sort-numeric-asc"></i> Roll Number</h4><p>020</p></div></div>
          </div>    
      </p-tabPanel>
    </p-tabView>

  </div>
</div>