#intro{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto; 
}

#subscribe{
    border: none;
    background-color: #1D8ECD;
    width:200px;
    margin-right: 20%;
}

#inlinebutton{
    border:transparent;
    background-color: #1D8ECD;
    border-radius: 10px;
    text-align: center;
    float: right;
}

#testdetailspanel {
    text-align: center
}

#subscribepanel {
    text-align: center;
}

.ui-button-warning {
    margin-left: 20%;
}