 <div class="fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Subscribe">
        <div id="subscribepanel">
          <h1>No Test Available</h1><br>
          <button id="subscribe" pButton type="text" class="ui-button-warning" label="Subscribe Now"></button>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6">
      <p-panel header="Introduction">
        <div id="intro">
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
            <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-6">
      <p-panel header="Progress">
        <p-chart type="doughnut" [data]="chapterwiseTestData"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-6">
        <p-panel><p-header>Chapterwise Test & Syllabus<button id="inlinebutton" pButton type="text" class="ui-button-success" label="Generate"></button></p-header>
            <div class="ui-g">
              <div class="ui-g-6">
                
                <!--Left for later -->
                <!--<div>
                  <p-overlayPanel #op1>
                  <h3>Chapter 1</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op2>
                  <h3>Chapter 2</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op3>
                  <h3>Chapter 3</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op4>
                  <h3>Chapter 4</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op5>
                  <h3>Chapter 5</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op6>
                  <h3>Chapter 6</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op7>
                  <h3>Chapter 7</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op8>
                  <h3>Chapter 8</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op9>
                  <h3>Chapter 9</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                  <p-overlayPanel #op10>
                  <h3>Chapter 10</h3>
                  <ul>
                    <li>Topic 1</li>
                    <li>Topic 2</li>
                    <li>Topic 3</li>
                    <li>Topic 4</li>
                    <li>Topic 5</li>
                  </ul>
                  </p-overlayPanel>
                </div>-->

                <span *ngFor="let chapter of chapterNames" ><p-radioButton name="groupname" label={{chapter}}></p-radioButton><br><br></span>
              </div>
              <div class="ui-g-6">
                <div #actualTarget>
                </div>
              </div>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-6">
      <p-panel header="Generated" >
          <p-tabView>
            <p-tabPanel *ngFor="let chapter of chapterNames" header={{chapter}}>
              <div id="testdetailspanel"><br>
                <span *ngFor="let number of testNumbers">{{number}} <button pButton type="text" class="ui-button-warning" label="20/40"></button><br><br></span>
              </div>
            </p-tabPanel>
          </p-tabView>
      </p-panel>
    </div>



  </div>
 </div>








