<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Subscribe">
      <div style="text-align: center">
        <h1>No Test Available</h1><br>
        <button id="subscribe" pButton type="text" class="ui-button-warning" label="Subscribe Now"></button>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel header="Introduction">
      <div id="intro">
        <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
           scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
           , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p><br><br><br>
          <p><strong>Some guidelines and rules goes here...........</strong> Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
           scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
           , remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel header="Progress">
      <p-chart type="doughnut" [data]="data"></p-chart>
    </p-panel>
  </div>

  <div class="ui-g-6">
    <p-panel><p-header>Chapterwise Test & Syllabus<button id="inlinebutton" pButton type="text" class="ui-button-success" label="Generate"></button></p-header>
        <div class="ui-g">
          <div class="ui-g-6">
            <div>
              <p-overlayPanel #op1>
              <h3>Chapter 1</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op2>
              <h3>Chapter 2</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op3>
              <h3>Chapter 3</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op4>
              <h3>Chapter 4</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op5>
              <h3>Chapter 5</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op6>
              <h3>Chapter 6</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op7>
              <h3>Chapter 7</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op8>
              <h3>Chapter 8</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op9>
              <h3>Chapter 9</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
              <p-overlayPanel #op10>
              <h3>Chapter 10</h3>
              <ul>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Topic 4</li>
                <li>Topic 5</li>
              </ul>
              </p-overlayPanel>
            </div>

            <p-radioButton (mouseover)="op1.show($event,actualTarget)" (mouseout)="op1.hide($event,actualTarget)" name="groupname" label="Chapter 1"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op2.show($event,actualTarget)" (mouseout)="op2.hide($event,actualTarget)" name="groupname" label="Chapter 2"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op3.show($event,actualTarget)" (mouseout)="op3.hide($event,actualTarget)" name="groupname" label="Chapter 3"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op4.show($event,actualTarget)" (mouseout)="op4.hide($event,actualTarget)" name="groupname" label="Chapter 4"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op5.show($event,actualTarget)" (mouseout)="op5.hide($event,actualTarget)" name="groupname" label="Chapter 5"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op6.show($event,actualTarget)" (mouseout)="op6.hide($event,actualTarget)" name="groupname" label="Chapter 6"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op7.show($event,actualTarget)" (mouseout)="op7.hide($event,actualTarget)" name="groupname" label="Chapter 7"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op8.show($event,actualTarget)" (mouseout)="op8.hide($event,actualTarget)" name="groupname" label="Chapter 8"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op9.show($event,actualTarget)" (mouseout)="op9.hide($event,actualTarget)" name="groupname" label="Chapter 9"></p-radioButton><br><br>
            <p-radioButton (mouseover)="op10.show($event,actualTarget)" (mouseout)="op10.hide($event,actualTarget)" name="groupname" label="Chapter 10"></p-radioButton><br>

          </div>
          <div class="ui-g-6">
            <div #actualTarget>
            </div>
          </div>
        </div>

    </p-panel>

    
  </div>

  <div class="ui-g-6">
    <p-panel header="Generated" >
        <p-tabView>
          <p-tabPanel header="Chapter 1">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="20/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 2">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="15/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="24/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="35/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 3">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="10/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="24/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="40/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 4">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="20/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 5">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="28/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="19/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 6">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 7">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="19/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 8">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="38/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="29/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 9">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="20/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="20/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="30/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="24/40">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Chapter 10">
            <div><br>
              <span style="padding-left:30%">Test 1 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="20/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 2 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="34/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 3 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="30/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 4 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-warning" label="05/40">
                </button>
              </span><hr>
              <span style="padding-left:30%">Test 5 
                <button style="margin-left: 20%" pButton type="text" class="ui-button-info" label="Start">
                </button>
              </span><hr>
            </div>
          </p-tabPanel>
        </p-tabView>
    </p-panel>
  </div>



</div>









