/*  Contains------

-- footer --
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.5;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
.blink img{width: 150px!important;
}
 
.logo{text-align: center;
    overflow: hidden;
    height: 44px;float: left;}
.to-right{margin-left: 73%;}
.fill{height:30px;}
.to-right i{color: #D9534F;}
.to-right:hover{cursor: pointer;}
.to-right a{color: white}
.pad-right{margin-right: 10px;}
.main-content-view{height:90%;overflow-y:auto;overflow-x:hidden;}
.success{color:#5CB85C;}
/*::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}*/
#menu-block{
    /*margin-right: -16px !important;
    border-top-right:20px #2D353C;*/
    background: #fff;
    max-height: 150px;
}
.form button{border:none!important;}
.profile-img{height: 100% !important;margin: auto;}
.wrapper {display: relative;}
.wrapper i {
    position: absolute;
    top: 2%;
    right:6%;
    font-size: 28px;
    color: #ffffff;
    -webkit-transition: transform .25s;
       -moz-transition: transform .25s;
        -ms-transition: transform .25s;
         -o-transition: transform .25s;
            transition: transform .25s;
    text-shadow: 0px 0px 5px #24346d;
}

.wrapper i:hover{
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 1;
}

.menuloader {
    padding-left: 30%;
    padding-top: 10%;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.fa-stroke{-webkit-text-stroke: 2px white;}
.chapter_generated{color:#3a81c2;}
.ui-accordion-content ol{padding-left:14px}
.dis-coupon label{display:contents;}

body .test-gentd .ui-accordion .ui-accordion-content{padding: 0.5em 0em;}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .main-content-view{
        height: 1000px;
    }
}
.foot{
    position:fixed;
    bottom:0;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}
#hr{
    margin-top: 0;
    margin-bottom: 7px;
}
.footer{
	background-color: #fff;
	height:32px;
	color:#24346d;
	letter-spacing: .5px;
    text-align: right;
	/*position:fixed;
	bottom:0;
	margin-bottom:0;*/
}
.footer-text{
	font-size:11px;
	/*position: fixed;
	left: 70%;*/
}
.close{width: 30px;
    text-align: center;}

/*english- chapterwise*/
#intro {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 13px;
    
}
.spin1{margin-left: 63%;}
.dark, .light, .blue{
    margin-left: 1%;
    display: inline-block;
    color: white;
    text-align: center;
    width: 22px;
    height: 21px;
    border-radius: 20%;
}
.dark{background-color: #5A5955;}
.light{background-color: #A4A5AA;}
.blue{background-color: #4F1B4C;}
.white-text{color:white;}
.round{
    display: inline-block;
    text-align: center;
    color: white;
    width:30px;
    height:30px;
    line-height: 2.2;
    border-radius: 50%;
    background-color: #429BDD;
}
#inlinebutton {
    border: transparent;
    background-color: #1D8ECD;
    text-align: center;
    float: right;
}
#testdetailspanel {text-align: center}
#subscribepanel {text-align: center;}
.container {/*padding-left: 5%;padding-top: 2%;*/}
.testnumber {padding-left: 5%;}
.testnumber button {margin-bottom: 2%;}
.chapter {font-size: 17px;font-weight: normal;}
.leftpad {padding-left: 5%;margin-right: 2%;}
.low button {width: 70px;margin-right: 4px;}
/*i:hover {cursor: pointer;color: brown;}*/
.toright {padding-left: 25%;}
.table td,th{text-align: center;border:none;}
.table {border:none;}
.toggle {margin-bottom: 2%;}
#menu-button{float: right;font-size: 30px;}
.withradio a:link, a:visited, a:hover, a:active {color: inherit;/*font-size: 17px;*/}
.withradio a:visited {text-decoration: none;}
.withradio a {margin-left: 3%;}
/*english- demotest*/
#demotest {text-align: center;padding-top: 30%;padding-bottom: 30%;}
ul{list-style-type: none;/*padding-left: 25px;*/}
/*li i{color: #5CB85C;margin-right: 10px;}*/
/*english- mocktest*/
#subscribe {width: 200px;border: none;background-color: #1D8ECD;}
.rightmargin {margin-right: 55%;}
.dark, .light, .blue{margin-top: 6%}
/*english- result*/
.blue-back{color:white;background-color:#017BAC;}
.red-back{color:white;background-color:#D9534F;}
.green-back{color:white;background-color:#5CB85C;}
.orange-back{color:white;background-color:#F0AD4E;}
.number{font-size:150%;}
.attempted{margin-left:-10px;/*color:#177DB6;*/}
.test{
color:white;
    display: inline-block;
    width:20px;
    height:20px;
    border: 1px solid;
    margin-left:33%;
    text-align:center;
    font-size:13px;
    border-radius:25%
}
.dark{background-color: #5A5955;border-color: #5A5955;}
.light{background-color: #A4A5AA;border-color: #A4A5AA;}
.hover:hover{cursor:pointer;background-color:#C9CDD2;}
.correct {background-color: #5CB85C;}
.wrong {background-color: #D9534F;}
.mark {background-color: #F0AD4E;padding: 0 0 0 0;}
.correct-txt {color: #5CB85C;}
.chip {
    height: 20px;
    width: 20px;
    margin-bottom: -4px;
    margin-left: 2%;
    border-radius: 50%;
    font-size: 10px;
}
.a {
    /*padding-top: 2px;*/
    display: inline-block;
    font-size: 11px;
    color: white;
    text-align: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 3%;
    margin-bottom: 3%;
    line-height: 1.8;
    box-shadow:none;
}
.nopad {text-align: right;}
.un{border: 1px solid black;color: black;background-color: white;}
.header{background-color:#24356d;color:white;}
/*english- sampletest*/
.dark{background-color: #5A5955;}
.light{background-color: #A4A5AA;}
.blue{background-color: #4F1B4C;}
.white-text{color:white;}
.round{
    display: inline-block;
    text-align: center;
    color: white;
    width:30px;
    height:30px;
    line-height: 2.2;
    border-radius: 50%;
    background-color: #429BDD;
}
.testnumber {padding-left: 5%;}
.testnumber button {margin-bottom: 2%;}
.low button {width: 70px;margin-right: 4px;}
/*i:hover {cursor: pointer;color: brown;}*/
.toright {padding-left: 25%;}
.table td,th{text-align: center;border:none;}
.table {border:none;}
#subscribe {
    margin-right: 2%;
    width: 200px;
    background-color: #1D8ECD;
    border: none;
}
#dropdown {float: right;margin-right: 30px;height: auto;}
.sample button {width: 70px;margin-right: 8%;}
.test {margin-right: 22%;}
.textcenter {padding-left: 20%;}
.rightgap {width: 70px;margin-right: 4px;}
.long {display: inline-block;width: 46%;}
.light,.dark,.blue{margin-top: 6%;}
/*end english*/



.center{padding-left:2%;}
.sub {
    /*margin-right: 2%;
    margin-left: 2%;*/
    margin-bottom: 15px;
    height: 110px;
    /*width: 170px;*/
    text-align: center;
    /*border: solid 1px #cccccc;*/
    border-radius: 10px;
    box-shadow: 2px 2px 5px #c9c9c9;
}
.sub button{margin-top:15px}
.grey-back{background-color: grey;}

#com {/*background-color: #4395DA;*/}
#sci {/*background-color: #ECB049;*/}
#mat {/*background-color: #DD4855;*/}
#gen {/*background-color: #F6885B;*/}
#eng {/*background-color: #29B6B3;*/}
#rea {/*background-color: #94B92B;*/}
#notice {
    /*height: 366px;*/
    height: 330px;
    overflow: auto;
    overflow-x: hidden;
}
.alert {
    background-color: white;
    border: solid 1px;
    border-radius: 0px;
}
#testimonials {
    height: 286px;
    overflow-x: hidden;
    overflow-y: auto;
}
.noticebox, .testbox {
    border: solid 1px;
    border-radius: 5px;
    padding: 0px 10px 2px 10px;
    text-align: justify;
    margin: 5px 10px 20px;
}
.comp {
    text-align: center;
    border-radius: 5px;
    color: #5CB85C;
    padding: 1px 2px 1px 2px;
    font-size: 12px;
}
.gen {
    text-align: center;
    color: #F0AD4E;
    border-radius: 5px;
    padding: 1px 2px 1px 22px;
    font-size: 12px;
}
.inc {
    text-align: center;
    color: #D9534F;
    border-radius: 5px;
    padding: 1px 2px 1px 22px;
    font-size: 12px;
}
.notcomp {
    text-align: center;
    background-color: #D9534F;
    border-radius: 5px;
    color: white;
    padding: 1px 13px 1px 10px;
    font-size: 12px;
}
.wrong {
    text-align: center;
    background-color: #D9534F;
    border-radius: 5px;
    color: white;
    /*padding: 1px 26px 1px 26px;*/
    font-size: 12px;
}
.testimonialimg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.testsubject {margin-top: 0px;}
.cor {
    padding: 1px 35px 1px 35px;
    text-align: center;
    background-color: #5CB85C;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
.mark {
    padding: 1px 35px 1px 35px;
    text-align: center;
    background-color: #F0AD4E;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

#tab {padding: none;}
.info {text-align: center}
.summary {
    text-align: center;
    height: 166px;
}
.subloader {padding-left: 43%;}
.noticeloader,
.testimonialloader {
    padding-left: 37%;
}
.n{
    display: inline-block;
    width:20%;
    margin-bottom: 3%
}

.inline{
    display: inline-block;
    margin-right: 28%;
}
.fixed-height{height:264px;}
.text-wrap{word-wrap:break-word;}
.to-mid{margin-top:5%;}
/*breadcrumb*/
#breadcrumb{list-style:none;display:inline-block;margin-left:0;padding-left:0;border:1px solid #ccc;border-radius: 5px;}
#breadcrumb .icon{font-size:14px}
#breadcrumb li{float:left}
#breadcrumb li a{color: #8d8d8d;display:block;text-decoration:none;position:relative;height: 32px;line-height: 32px;padding: 0 10px 0 5px;text-align:center;margin-right:23px;}
#breadcrumb li:first-child a{border-top-left-radius:4px!important;border-bottom-left-radius:4px!important}
#breadcrumb li:nth-child(2n) a{/* background-color: #fff; */}
#breadcrumb li:nth-child(2n) a:before{/* border-color:#ccc; */border-left-color:transparent;}
#breadcrumb li:nth-child(2n) a:after{/* border-left-color:#ccc */}
#breadcrumb li:first-child a{padding-left:15px;border-radius:4px 0 0 4px}
#breadcrumb li:first-child a:before{border:none}
#breadcrumb li:last-child a{padding-right:15px;border-radius:0 4px 4px 0}
#breadcrumb li:last-child a:after{border:none}
#breadcrumb li a:after, 
#breadcrumb li a:before{content:"";position:absolute;top: 1px;border: 0 solid #ffffff;border-width: 15px 10px;width:0;height:0;}
#breadcrumb li a:before{left:-20px;border-left-color:transparent;/* background: #ccc; */}
#breadcrumb li a:after{left:100%;border-color:transparent;border-left-color: #fff;background: #ccc;}
#breadcrumb li a:hover{color: #24356d;}
#breadcrumb li a:hover:before{border-color: #fff;border-left-color:transparent;}
#breadcrumb li a:hover:after{border-left-color: #ffffff;background: #ccc;}
#breadcrumb li a:active{color: #24356d;}
#breadcrumb li a:active:before{border-color: #ffffff;border-left-color:transparent;}
#breadcrumb li a:active:after{border-left-color: #ffffff;}
.red-text{color:red}
/*end breadcrumb*/


.ui-tabview.ui-tabview-top>.ui-tabview-nav{max-width:156px;float:left;background:#24356d !important}
.ui-tabview .ui-tabview-nav li{width: 100%;background:#24356d !important}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{background:#3a82c4 !important}

.ui-fileupload-content .ui-fileupload-files .ui-fileupload-row div:nth-child(2n){display:block;}

.info-side-box{position:fixed;right:0;padding:3px 0;background-color:#24346d;}
.info-side-box button{background-color:transparent; color:#fff;font-size:17px}
.info-side-box button:hover span i{color:#3a83c4}
.info-side-box .btn.focus, .info-side-box .btn:focus, .info-side-box .btn:hover{color:#fff;}
.info-intro{}
.info-progess{}

.box{
    /*border: 1px solid #2D353C;*/
    margin-bottom: 1%;
    padding-left:0;
    min-height:40px;
}
div.box span{
    /*background-color:#24346d;*/
    color: #24346d;
    padding:3px 5px 3px 5px;
    font-size: 20px;
}
.box div.question{
    color: #24346d;
    font-size: 16px;
    padding-left: 10px;
    margin-left:40px;
}
.question .container {width:auto!important;padding:0!important;}
.mat-mini-fab:not([class*=mat-elevation-z]){box-shadow:none!important;background:#fff!important;}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent, 
.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], 
.mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], 
.mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], 
.mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], 
.mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], 
.mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled]{background:#fff!important;}
.m-group .mat-mini-fab .mat-button-wrapper span,
.v-group .mat-mini-fab .mat-button-wrapper span,
.n-group .mat-mini-fab .mat-button-wrapper span{color:#fff;width:25px;height:25px!important;display:inline-block;margin-right:4px;}
.m-group .mat-mini-fab .mat-button-wrapper span{background-color:#DA5451;}
.v-group .mat-mini-fab .mat-button-wrapper span{background-color:#5BB85D;}
.n-group .mat-mini-fab .mat-button-wrapper span{background-color:#24346d;}
.m-group .mat-mini-fab .mat-button-wrapper span i,
.v-group .mat-mini-fab .mat-button-wrapper span i,
.n-group .mat-mini-fab .mat-button-wrapper span i{font-size:15px;line-height:26px;}
.m-group .mat-mini-fab .mat-button-wrapper strong{color:#DA5451;}
.v-group .mat-mini-fab .mat-button-wrapper strong{color:#5BB85D;}
.n-group .mat-mini-fab .mat-button-wrapper strong{color:#24346d;}
@media only screen and (max-width: 767px){
    .info-side-box{top:150px}
    .n{width:12%;}
    .box div.question{margin-left:0;font-size:14px;}
    #menu-button {
    float: left;
    position: absolute;
    left: 20px;
    }
    .sub button{margin-top:1px}
    #rea, #sci, #eng{padding-left:5px;}
    #mat, #gen, #com{padding-right: 5px;}
    .footer{text-align: center;}
}
@media only screen and (max-width: 420px){
    /*.center{padding-left:6%;}*/
    .inc{display: inline-block;padding-left:2px;}
    .gen{padding-left:2px;}
    .sub{height: 130px;border-radius: 0;}
    .noticebox-wrapper,
    .testimonial-wrapper{display:none;}
    .n{width:12%;}
    .min-height{}
    #rea, #sci, #eng{padding-left:5px;}
    #mat, #gen, #com{padding-right: 5px;}
}