
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#subscribe {
    width: 200px;
    border: none;
    background-color: #1D8ECD;
}

#intro {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dropdown {
    margin-left: 40%;
    height: auto;
}


.chapter {
    font-size: 17px;
}


.leftpad {
    padding-left: 5%;
}

.rightmargin {
    margin-right: 20%;
}