
.sub{
    margin-right:18px;
    margin-bottom: 15px;
    height:150px;
    width:200px;
    text-align: center;
    border: solid 1px #cccccc;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#com{
    background-color: #4395DA;
}

#sci{
    background-color: #ECB049;
}
 
#mat{
    background-color: #DD4855;
}

#gen{
    background-color: #F6885B;
}

#eng{
    background-color:#29B6B3;
}

#rea{
    background-color: #94B92B;
}

#notice{    
    /*height: 366px;*/
    height: 330px;
    overflow: auto;
    overflow-x: hidden;
}

.alert{
    background-color: white;
    border: solid 1px;
    border-radius: 0px;
}


#testimonials{
    height:286px;
    overflow-x: hidden;
    overflow-y: auto;
}
    

.noticebox, .testbox {
    border:solid 1px;
    border-radius: 5px;
    padding: 0px 10px 2px 10px;
    text-align: justify;
    margin: 5px 10px 20px; 
}


.comp{
    text-align: center;
    background-color: #5CB85C;
    border-radius:5px;
    color: white;
    padding: 1px 24px 1px 23px;
    font-size: 12px;
}

.gen{
    text-align: center;
    background-color: #F0AD4E;
    border-radius:5px;
    color: white;
    padding: 1px 26px 1px 24px;
    font-size: 12px;
    width:150px;
}

.notcomp{
    text-align: center;
    background-color: #D9534F;
    border-radius:5px;
    color: white;
    padding: 1px 13px 1px 10px;
    font-size: 12px;
}

.wrong{
    text-align: center;
    background-color: #D9534F;
    border-radius:5px;
    color: white;
    padding: 1px 26px 1px 26px;
    font-size: 12px;
}

.testimonialimg{
    height:50px;
    width:50px;
}

.testsubject{
    margin-top:0px;
}

.cor{
    padding: 1px 35px 1px 35px;
    text-align: center;
    background-color: #5CB85C;
    border-radius:5px;
    color: white;
    font-size: 12px;
}

.mark{
    padding: 1px 35px 1px 35px;
    text-align: center;
    background-color: #F0AD4E;
    border-radius:5px;
    color: white;
    font-size: 12px;
}

.inc{
    text-align: center;
    background-color: #D9534F;
    border-radius:5px;
    color: white;
    padding: 1px 35px 1px 35px;
    font-size: 12px;
}

#tab{
    padding:none;
}

.info{
    text-align: center
}
.summary{
    text-align: center;
    height:166px;
}