<div class="ui-g">            
    <div class="ui-g-8">
        <div class="ui-g">
        <div class="ui-g-12">  <!--SUBJECTS PANEL-->
            <p-panel header="Subject Summary">
                <div class="ui-g">
                    <div class="ui-g-4 sub" *ngFor="let sub of subjectSummary|keys" id="{{sub.key | lowercase | cssId}}" >
                        <i class="{{sub.value.icon}}"></i> 
                        <p>{{sub.key | uppercase}}</p>
                        <button pButton class="ui-button-success" (click)="redirect()" class="ui-button-success" label="Demo"></button>
                        <button *ngIf="!computerSubscribed"pButton class="ui-button-warning" [ngClass] ="{'ui-button-danger':sub.key=='Science'||sub.key=='English'}" label="Subscribe"></button>
                        <button *ngIf="computerSubscribed"pButton class="ui-button-warning" (click)="startTest()" label="Start Test"></button><br>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--TEST SUMMARY PANEL-->
            <p-panel header="Test Summary">
                <p-tabView id="tab head">
                    <p-tabPanel *ngFor="let item of testSummary|keys" header="{{item.key}}">
                        <div class="ui-g">
                            <div class="ui-g-9">
                                <div class="ui-g">
                                    <div class="ui-g-5">
                                        <span class="testsubject" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                    </div>
                                    <div class="ui-g-7">
                                        <div class="progress" *ngFor="let data of item.value|keys">
                                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.completed+'%'}"> {{data.value.completed}}%
                                                </div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.generated+'%'}">{{data.value.generated}}%
                                                </div>
                                                <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.notcompleted+'%'}">{{data.value.notcompleted}}%
                                                </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="ui-g-3 ui-fluid">
                                <br>
                                <span class="comp">Completed</span><br>
                                <span class="gen">Generated</span><br>
                                <span class="notcomp">Not Completed</span><br>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--RESULT SUMMARY PANEL-->
            <p-panel header="Result Summary">
                <p-tabView id="tab head">
                    <p-tabPanel *ngFor="let item of resultSummary|keys" header="{{item.key}}">
                        <div class="ui-g">
                            <div class="ui-g-9">
                                <div class="ui-g">
                                    <div class="ui-g-5">
                                        <span class="testsubject" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                    </div>
                                    <div class="ui-g-7">
                                        <div class="progress" *ngFor="let data of item.value|keys">
                                            <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.right+'%'}">{{data.value.right}}%
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.review+'%'}">{{data.value.review}}%
                                            </div>
                                            <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.wrong+'%'}">{{data.value.wrong}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="ui-g-3">
                                <br>
                                <span class="comp">Correct</span><br>
                                <span class="gen">Review</span><br>
                                <span class="wrong">Wrong</span><br>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
        </div>
        </div>
    </div>

    <div class="ui-g-4">
        <div class="ui-g-12">
            <p-panel header="Notice Board">
            <div id="notice">
                <div class="noticebox" *ngFor = "let item of noticeBoard|keys">
                    <h3>{{item.key}}</h3>
                    <p>{{item.value}}</p>
                </div>
            </div>
            </p-panel>
        </div>
        <div class="ui-g-12">
            <p-panel header="Testimonials">
                <div id="testimonials">
                    <div class="testbox" *ngFor = "let item of testimonials|keys">
                        <div class="ui-g">
                            <div class="ui-g-7"><img class="testimonialimg" src={{item.value.imgsrc}}></div>
                            <div class="ui-g-5">{{item.value.time}}</div>
                            <div class="ui-g-12">{{item.value.data}}</div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    
</div>


            
        

