<div class="ui-g">            
    <div class="ui-g-8">
        <div class="ui-g">
        <div class="ui-g-12">  <!--SUBJECTS PANEL-->
            <p-panel header="Subject Summary">
                <div class="ui-g">
                    <div class="ui-g-4 sub" id="cyber" >
                        <i class="icon-cyber icon-4x"></i> 
                        <p>COMPUTER/CYBER</p>
                        <button pButton class="ui-button-success" (click)="redirect()" class="ui-button-success" label="Demo"></button>
                        <button pButton class="ui-button-warning" label="Subscribe"></button>
                    </div>

                    <div class="ui-g-4 sub" id="science">
                        <i class="icon-science icon-4x"></i>
                        <p>SCIENCE</p>
                        <button pButton class="ui-button-success" label="Demo"></button>
                        <button pButton class="ui-button-danger" label="Subscribe"></button>
                    </div>

                    <div class="ui-g-4 sub" id="math">
                        <i class="icon-maths icon-4x"></i>
                        <p>MATHEMATICS</p>
                        <button pButton class="ui-button-success" label="Demo"></button>
                        <button pButton class="ui-button-warning" label="Subscribe"></button>
                    </div>
                
                    <div class="ui-g-4 sub" id="gk">
                        <i class="icon-gk icon-4x"></i>
                        <p>GENERAL KNOWLEDGE</p>
                        <button pButton class="ui-button-success" label="Demo"></button>
                        <button pButton class="ui-button-warning" label="Subscribe"></button>
                    </div>

                    <div class="ui-g-4 sub" id="english">
                        <i class="icon-english icon-4x"></i>
                        <p> ENGLISH</p>
                        <button pButton class="ui-button-success" label="Demo"></button>
                        <button pButton class="ui-button-danger" label="Subscribe"></button>
                    </div>

                    <div class="ui-g-4 sub" id="reasoning">
                        <i class="icon-reasoning icon-4x"></i>
                        <p>REASONING</p>
                        <button pButton class="ui-button-success" type="text" label="Demo"></button>
                        <button pButton class="ui-button-warning" type="text" label="Subscribe"></button>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--TEST SUMMARY PANEL-->
            <p-panel header="Test Summary">
                <p-tabView id="tab head">
                    <p-tabPanel *ngFor="let item of resultSummary|keys" header="{{item.key}}">
                        <div class="ui-g">
                            <div class="ui-g-9">
                                <div class="ui-g">
                                    <div class="ui-g-5">
                                        <span class="testsubject" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                    </div>
                                    <div class="ui-g-7">
                                        <div class="progress" *ngFor="let data of item.value|keys">
                                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.completed+'%'}"> {{data.value.completed}}
                                                </div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.generated+'%'}">{{data.value.generated}}
                                                </div>
                                                <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.notcompleted+'%'}">{{data.value.notcompleted}}
                                                </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="ui-g-3">
                                <br>
                                <span class="comp">Correct</span><br>
                                <span class="gen">Review</span><br>
                                <span class="wrong">Wrong</span><br>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--RESULT SUMMARY PANEL-->
            <p-panel header="Result Summary">
                <p-tabView id="tab head">
                    <p-tabPanel *ngFor="let item of resultSummary|keys" header="{{item.key}}">
                        <div class="ui-g">
                            <div class="ui-g-9">
                                <div class="ui-g">
                                    <div class="ui-g-5">
                                        <span class="testsubject" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                    </div>
                                    <div class="ui-g-7">
                                        <div class="progress" *ngFor="let data of item.value|keys">
                                            <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.completed+'%'}">{{data.value.completed}}
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.generated+'%'}">{{data.value.generated}}
                                            </div>
                                            <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.notcompleted+'%'}">{{data.value.notcompleted}}
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="ui-g-3">
                                <br>
                                <span class="comp">Correct</span><br>
                                <span class="gen">Review</span><br>
                                <span class="wrong">Wrong</span><br>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
        </div>
        </div>
    </div>

    <div class="ui-g-4">
        <div class="ui-g-12">
            <p-panel header="Notice Board">
            <div id="notice">
                <div class="noticebox" *ngFor = "let item of noticeBoard">
                    <h3>{{item.head}}</h3>
                    <p>{{item.value}}</p>
                </div>
            </div>
            </p-panel>
        </div>
        <div class="ui-g-12">
            <p-panel header="Testimonials">
                <div id="testimonials">
                    <div class="testbox" *ngFor = "let item of testimonials">
                        <div class="ui-g">
                            <div class="ui-g-7"><img class="testimonialimg" src={{item.imgsrc}}></div>
                            <div class="ui-g-5">{{item.time}}</div>
                            <div class="ui-g-12">{{item.data}}</div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    
</div>


            
        

