<div class="ui-g">            
    <div class="ui-g-8">
        <div class="ui-g">
        <div class="ui-g-12">  <!--SUBJECTS PANEL-->
            <p-panel header="Subject Summary">
                <div class="ui-g">
                    <div class="ui-g-4 sub" *ngFor="let sub of subjectSummary" id="{{sub | lowercase | cssId }}" >
                        <i class="icon-science icon-4x" *ngIf="sub=='Science'"></i>
                        <i class="icon-reasoning icon-4x" *ngIf="sub=='Reasoning'"></i>
                        <i class="icon-gk icon-4x" *ngIf="sub=='General Knowledge'"></i>
                        <i class="icon-english icon-4x" *ngIf="sub=='English'"></i>
                        <i class="icon-maths icon-4x" *ngIf="sub=='Mathematics'"></i>
                        <i class="icon-cyber icon-4x" *ngIf="sub=='Computer/Cyber'"></i> 
                        <p>{{sub|uppercase}}</p>
                        <button pButton class="ui-button-success" (click)="redirect()" class="ui-button-success" label="Demo"></button>
                        <button *ngIf="!computerSubscribed"pButton class="ui-button-warning" [ngClass] ="{'ui-button-danger':sub=='Science'||sub=='English'}" label="Subscribe"></button>
                        <button *ngIf="computerSubscribed"pButton class="ui-button-warning" (click)="startTest()" label="Start Test"></button><br>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--TEST SUMMARY PANEL-->
            <p-panel header="Test Summary">
                <p-tabView (onChange)="check($event)" activeIndex='3'>
                    <p-tabPanel selected="true" *ngFor="let sub of subscribedSubjects" header="{{sub}}">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <div>Chapterwise Test</div><br>
                                <div>Sample Test</div><br>
                                <div>Mock Test</div><br>
                                <div>Demo Test</div><br>
                            </div>
                            <div class="ui-g-8">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%"> 
                                    </div>
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:40%">
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">                                   </div>
                                </div>
                            </div>
                            <div class="ui-g-6">
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
        </div>
        <div class="ui-g-12">  <!--RESULT SUMMARY PANEL-->
            <p-panel header="Result Summary">
            </p-panel>
        </div>
        </div>
    </div>

    <div class="ui-g-4">
        <div class="ui-g-12">
            <p-panel header="Notice Board">
            <div id="notice">
                <div class="noticebox" *ngFor = "let item of noticeBoard; let i=index">
                    <h3>Notice {{i+1}}</h3>
                    <p>{{item.date_published}}</p>
                    <p>{{item.news}}<p>
                </div>
            </div>
            </p-panel>
        </div>
        <div class="ui-g-12">
            <p-panel header="Testimonials">
                <div id="testimonials">
                    <div class="testbox" *ngFor = "let item of testimonials">
                        <div class="ui-g">
                            <div class="ui-g-7"><img class="testimonialimg"></div>
                            <div class="ui-g-5"></div>
                            <div class="ui-g-12">{{item.text}}</div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    
</div>


            
        

