<div class="ui-g">
    <div class="ui-g-8 ui-sm-12 ui-md-8">
        <div class="ui-g">
            <div class="ui-g-12">
                <!--SUBJECTS PANEL-->
                <p-panel header="Subject Summary">
                    <div class="ui-g center">
                        <!--*ngIf="subjectLoader">-->
                        <div class="ui-g-4 sub" *ngFor="let sub of subjectInfo.subjectList" id="{{sub | lowercase | cssId }}">
                            <i class="icon-science icon-4x" *ngIf="sub=='Science'"></i>
                            <i class="icon-reasoning icon-4x" *ngIf="sub=='Reasoning'"></i>
                            <i class="icon-gk icon-4x" *ngIf="sub=='General-Knowledge'"></i>
                            <i class="icon-english icon-4x" *ngIf="sub=='English'"></i>
                            <i class="icon-maths icon-4x" *ngIf="sub=='Mathematics'"></i>
                            <i class="icon-cyber icon-4x" *ngIf="sub=='Computers'"></i>
                            <p>{{sub|uppercase}}</p>
                            <button pButton *ngIf="!subjectInfo.attemptedDemo[sub]" class="ui-button-success" (click)="redirect(sub,'demo')" label="Demo"></button>
                            <button *ngIf="!subjectInfo.subscribedSubjects[sub]" pButton class="ui-button-warning" [ngClass]="{'ui-button-danger':sub=='Science'||sub=='English'}" (click)="redirect(sub,'settings')" label="Subscribe"></button>
                            <button *ngIf="subjectInfo.subscribedSubjects[sub]" pButton class="ui-button-warning" [ngClass]="{'ui-button-danger':sub=='Science'||sub=='English'}" (click)="redirect(sub,'sample')" label="Start Test"></button>
                            <br>
                        </div>
                    </div>
                    <!--<div class="subloader" *ngIf="!subjectLoader">
                    <app-loader></app-loader>
                </div>-->
                </p-panel>
            </div>
            <div class="ui-g-12">
                <!--TEST SUMMARY PANEL-->
                <p-panel header="Test Summary">
                    <p-tabView id="tab head">
                        <!-- <p-tabPanel *ngFor="let item of result.testSummary|keys" header="{{item.key}}">
                            <div class="ui-g" *ngIf="subjectInfo.subscribedSubjects[item.key]">
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <span class="testsubject submob" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                        </div>
                                        <div class="ui-g-8 ui-sm-12">
                                            <div class="progress hover progmob" pTooltip="Go to {{data.key}}" *ngFor="let data of item.value|keys" (click)="redirectToTest(item.key,data.key)">
                                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.completed+'%'}"> {{data.value.completed}}%
                                                </div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.generated+'%'}">{{data.value.generated}}%
                                                </div>
                                                <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.notcompleted+'%'}">{{data.value.notcompleted}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12"></div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <span class="comp">Completed</span>
                                            <span class="gen">Generated</span>
                                            <span class="inc">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g a" *ngIf="!subjectInfo.subscribedSubjects[item.key]">
                                <div class="ui-g-12 info">
                                    <h3>Subject not subscribed</h3></div>
                                <div class="ui-g-12 summary">
                                    <button *ngIf="!subjectInfo.attemptedDemo[item.key]" pButton class="ui-button-success" label="Demo" (click)="redirect('demo')"></button>
                                    <button pButton class="ui-button-warning" label="Subscribe" (click)="redirect(subscribe)"></button>
                                </div>
                            </div>
                        </p-tabPanel> -->
                        <p-tabPanel *ngFor="let sub of chTest.completeTestDetails?.generated?.subjects;let index = index;let first = first" header="{{sub.name}}" [selected]="first">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <span class="testsubject submob">Chapterwise Test<br><br></span>
                                            <span class="testsubject submob">Demo Test<br><br></span>
                                            <span class="testsubject submob">Sample Test<br><br></span>
                                            <span class="testsubject submob">Mock Test<br><br></span>
                                        </div>
                                        <div class="ui-g-8 ui-sm-12">
                                            <div class="progress hover progmob" pTooltip="Go To Chapterwise Test" (click)="redirectToTest(sub.name,'chapterwisetest')">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['data'][2]" role="progressbar">{{chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['show'][2]|round}}
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['data'][1]" role="progressbar">{{chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['show'][1]|round}}
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['data'][0]" role="progressbar">{{chapterwiseTest(sub['total_generated'],sub['total_tests'],sub['total_completed'])['show'][0]|round}}
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Demo Test" (click)="redirectToTest(sub.name,'demotest')">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">20%
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Sample Test" (click)="redirectToTest(sub.name,'sampletest')">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">30%
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Mock Test" (click)="redirectToTest(sub.name,'mocktest')">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-g">
                                            <div class="ui-g-3 ui-sm-12"></div>
                                            <div class="ui-g-9 ui-sm-12">
                                                <span class="comp">Completed</span>
                                                <span class="gen">Generated</span>
                                                <span class="inc">Remaining</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                             <div class="ui-g a">
                                <div class="ui-g-12 info">
                                    <h3>Subject not subscribed</h3></div>
                                <div class="ui-g-12 summary">
                                    <button pButton class="ui-button-success" label="Demo" (click)="redirect('demo')"></button>
                                    <button pButton class="ui-button-warning" label="Subscribe" (click)="redirect(subscribe)"></button>
                                </div>
                            </div> -->
                        </p-tabPanel>
                    </p-tabView>
                </p-panel>
            </div>
            <div class="ui-g-12">
                <!--RESULT SUMMARY PANEL-->
                <p-panel header="Result Summary">
                    <p-tabView id="tab head">
                        <!-- <p-tabPanel style="border:none" *ngFor="let item of result.resultSummary|keys" header="{{item.key}}">
                            <div class="ui-g" *ngIf="subjectInfo.subscribedSubjects[item.key]">
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <span class="testsubject" *ngFor="let sub of item.value|keys">{{sub.key}}<br><br></span>
                                        </div>
                                        <div class="ui-g-8 ui-sm-12">
                                            <div class="progress hover" pTooltip="Go to {{item.key}} result" *ngFor="let data of item.value|keys" (click)="redirectToResult(item.key)">
                                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':data.value.right+'%'}">{{data.value.right}}%
                                                </div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width':data.value.review+'%'}">{{data.value.review}}%
                                                </div>
                                                <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width':data.value.wrong+'%'}">{{data.value.wrong}}%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12"></div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <span class="cor">Correct</span>
                                            <span class="mark">Review</span>
                                            <span class="inc">Wrong</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g" *ngIf="!subjectInfo.subscribedSubjects[item.key]">
                                <div class="ui-g-12 info">
                                    <h3>Subject not subscribed</h3></div>
                                <div class="ui-g-12 summary">
                                    <button *ngIf="!subjectInfo.attemptedDemo[item.key]" pButton class="ui-button-success" label="Demo" (click)="redirect('demo')"></button>
                                    <button pButton class="ui-button-warning" label="Subscribe" (click)="redirect(subscribe)"></button>
                                </div>
                            </div>
                        </p-tabPanel> -->
                        <p-tabPanel *ngFor="let sub of result.completeResult?.generated?.subjects;let index = index;let first = first;" header="{{sub.name}}" [selected]="first">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <span class="testsubject submob" *ngIf="(sub?.total_correct+sub?.total_marked+sub?.total_incorrect)!=0">Chapterwise Test<br><br></span>
                                            <span class="testsubject submob">Demo Test<br><br></span>
                                            <span class="testsubject submob">Sample Test<br><br></span>
                                            <span class="testsubject submob">Mock Test<br><br></span>
                                        </div>
                                        <div class="ui-g-8 ui-sm-12">
                                            <div class="progress hover progmob" *ngIf="(sub?.total_correct+sub?.total_marked+sub?.total_incorrect)!=0" pTooltip="Go To Result" (click)="redirectToResult(sub.name)">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="chapterwiseResult(index)[0]" role="progressbar">{{chapterwiseResult(index)[0]|round}}
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="chapterwiseResult(index)[2]" role="progressbar">{{chapterwiseResult(index)[2]|round}}
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="chapterwiseResult(index)[1]" role="progressbar">{{chapterwiseResult(index)[1]|round}}
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Result" (click)="redirectToResult(sub.name)">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">20%
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Result" (click)="redirectToResult(sub.name)">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">30%
                                                </div>
                                            </div>
                                            <div class="progress hover progmob" pTooltip="Go To Result" (click)="redirectToResult(sub.name)">
                                                <div class="progress-bar progress-bar-success" [style.width.%]="40" role="progressbar"> 40
                                                </div>
                                                <div class="progress-bar progress-bar-warning" [style.width.%]="30" role="progressbar"> 30
                                                </div>
                                                <div class="progress-bar progress-bar-danger" [style.width.%]="30" role="progressbar">30%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-g">
                                            <div class="ui-g-3 ui-sm-12"></div>
                                            <div class="ui-g-9 ui-sm-12">
                                                <span class="cor">Correct</span>
                                                <span class="mark">Review</span>
                                                <span class="inc">Wrong</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </p-panel>
            </div>
        </div>
    </div>
    <div class="ui-g-4 ui-sm-12">
        <div class="ui-g-12">
            <p-panel header="Notice Board">
                <div id="notice">
                    <div class='noticebox' *ngFor="let item of misc.notice; let i = index ">
                        <h3>Notice {{i+1}}</h3>
                        <p>{{item['date_published']}}</p>
                        <p>{{item['news']}}</p>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="ui-g-12">
            <p-panel header="Testimonials">
                <div id="testimonials">
                    <div class="testbox" *ngFor="let i of misc.testimonial">
                        <div class="ui-g">
                            <div class="ui-g-7"><img class="testimonialimg"></div>
                            <div class="ui-g-5"></div>
                            <div class="ui-g-12">{{i['text']}}</div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>